@charset "UTF-8";
body {
    font-family : 微軟正黑體 !important;
}
.mob_search {
    display: none;
}
div#tagsel_btn {
	/*border-bottom: 2px solid #ddd;*/
    border-image: none;
    border-left-color: #dbdbdb;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #dbdbdb;
    border-right-style: solid;
    border-right-width: 1px;
    /*border-top: 2px solid #ddd;*/
    height: 32px;
    padding: 6px;
    position: relative;
    z-index: 999;
    width: 120px;
    text-align: left;
    cursor: pointer;
}

ul.tag_ul{
	background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    z-index: 4;
    display: none;
    position: absolute;
    width: 100%;
    box-shadow: 0px 2px 8px #8A8A8A;
}

span.tag_selection:after {
    font-family: FontAwesome;
    content: "\f0d7";
    float: right;
    font-size: 17px;
}
li.main_li {
    float: left;
    list-style: none;
    display: block;
    color: black;
    cursor: pointer;
    width: 100%;
}
li.main_li:hover {
    background-color: #ddd;
}
li.main_li .li_item {
    float: left;
    width: 100%;
    padding: 6px 8px;
}
/*******************************/
div#tagsel_btn2 {
	/*border-bottom: 2px solid #ddd;*/
    border-image: none;
    border-left-color: #dbdbdb;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #dbdbdb;
    border-right-style: solid;
    border-right-width: 1px;
    /*border-top: 2px solid #ddd;*/
    height: 32px;
    padding: 6px;
    position: relative;
    z-index: 999;
    width: 100%;
    text-align: left;
    cursor: pointer;
}
.tagsel_btn2 {
    border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}
ul.tag_ul2 {
    position: absolute;
    width: 101px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    background: #fff;
    border: 1px solid #dbdbdb;
	box-shadow: 0px 2px 8px #8A8A8A;
}
span.tag_selection2:after {
    font-family: FontAwesome;
    content: "\f0d7";
    float: right;
    font-size: 17px;
	word-break:break-word;
}

li.main_li .li_item2 {
    float: left;
    width: 100%;
    padding: 6px 8px;
}
/***********************/

.col-sm-2.hdr-logo {
    padding: 0px;
    margin-left: 0px;
}

.nav_menu ul li:first-child {
    padding-left: 0px;
}
/*.sub_menu li:first-child {
    padding-left: 20px !important;
}*/

/***********************/
/*span.cart {
    position: absolute;
    right: 16px;
    bottom: -6px;
}*/
p.cart_left_box {
    border: 1px solid #000;
    padding: 0px 20px;
    margin: 0px;
    border-radius: 20px !important;
    width: auto;
    position: absolute;
    right: 15px;
    bottom: 4px;
    background: #f2f2f2;
    font-size: 12px;
    padding-right: 35px;
}
.cart {
    position: absolute;
    bottom: 7px;
    right: 23px;

    background: url(/public/img/cart.png) no-repeat scroll center center;
    padding: 0px 0px;
    color: #fff;
    width: 24px;
    text-align: center;
    height: 24px;
    background-size: 86% 86%;
}
ul li{
	font-family:微軟正黑體;
}
input{
	font-family:微軟正黑體 !important;
}
h2{
	font-family:微軟正黑體;
}
.mob-header {
    position:unset;
    top: 0px;
    z-index: unset;
	float:left;
	width:100%;
}
.navbar-nav li.faq a {
    padding-top: 8px;
}
.add_img {
    float: right;
    width: 175px;
	margin-right: 0px;
	text-align: right;
}
.add_img img {
    width: auto;
}
span.top_b_links a:hover {
    color: #8d8d8d !important;
}

.three_column_section {
    float: left;
    width: 100%;
    text-align: center;
	max-height: 67px;
}
.top_head_bar {
    float: left;
    width: 100%;
    background: #8d8d8d;
	padding: 6px;
}
.srch input.form-control, textarea.form-control {
    border-color: #ddd;
    border-width: 1px;
}
.top_head_bar .home_img {
    float: left;
    /*width: 9%;*/
	padding: 0px 6px 0px 0px;
    border-right: rgba(255,255,255,0.1) 1px solid;
}


.top_head_bar .home_img:before {
    content: "\f015";
    color: white;
    font-family: fontAwesome;
    font-size: 16px;
}
.main_ul li {
    float: left;
    list-style: none;
	padding: 0 6px 0 3px;
}
#showmenu{
    cursor: pointer;
    float: left;
    width: 100%;
    padding: 0px;
}

.hdr_menu2 {
    position: absolute;
    width: 110px;
    z-index: 10;
    background: #8d8d8d;;
    display: none;
    padding-top: 0px;
    top: 24px;
    border-top: 0px;
}
.cart_icon {
    display:none;
}
.sub_d_down:hover .hdr_menu2{
    display: block;
}
ul.down_mnu {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 10px 10px;
    line-height: 24px;
}
.down_mnu li {
    width: 100%;
}
.main_ul li a {
    color: #fff;
}
/*
ul.down_mnu {
    position: absolute;
    top: 27px;
    right: 22px;
}*/
/*.main_ul li:hover ul.down_mnu {
    display: block;
}*/
span.drp_mnu {
    padding-bottom: 20px;
}


.top_head_bar .home_img span {
    color: white;
}
.home_txt span {
    color: white;
}
.home_txt {
    float: left;
    /*width: 22%;*/
	padding: 0px 0px 0px 6px;

}
.left_area {
    float: left;
    width: 50%;
}
.right_area {
    float: right;
    width: 50%;
}
.left_txt {
    float: right;
	/*width:20%;*/
	padding: 0px 0px 0px 6px;
}
/**********************************/
ul.main_ul {
    float: right;
    margin: 0px;
    width: 100%;
    padding: 0px;
}

/************************************/
.right_txt {
    float: right;
	 padding: 0px 0px 0px 10px;
}

.top_head_bar span {
    color: white;
}
.right_txt span {
    /*border-right: rgba(255,255,255,0.1) 1px solid;*/
    padding: 5px;
}
.logo_cart_section {
    float: left;
    width: 100%;
}
.right_txt img {
    width:100%;
    float: right;
    object-fit: cover;
}
.fblogo{
	float:right;
	width:30px;
	overflow:hidden;
}
.item-summary {
    margin-bottom: 20px;
}
.pre-header li {
     border-right: none;
}
.pull-right {
    float: left;
}
.nav_menu_ {
    width: 100%;
    text-align: center;
    float: left;
	padding: 0px 0px 2%;
}
.list-inline {
    float: none !important;
    margin: 0px;
}
.header {
    box-shadow: none;
}
.pre-header {
	border:none;
	background:#fff;
}
.pre-header a {
    color: black;
}
.pre-header li{padding-right:5px !important;}
.top-cart-block {
    float: right;
	    margin-top: 29px;
}
.top-cart-block .fa-shopping-cart {
    background: #8d8d8d;
    position: relative;
    right: 25px;
}
.nav_menu {
    float: left;
    width: 100%;
    text-align: center;
    /* display: table; */
    /* margin: 0 auto; */
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}
.list-inline {
    /* float: none */
    /* margin: 0px; */
    /* float: left; */
    display: table;
    margin: 0 auto;
	margin-top: 33px;
}
.top-cart-content span, .top-cart-content strong, .top-cart-content em {
    padding-top: 0px;
}
.pre-header li {
    border-right: none;
    position: unset;
	list-style: none;
}
ul.sub_menu {
    display: none;
    position: absolute;
    background: #fff;
    left: 0px;
    right: 0px;
    padding: 0 !important;
    width: 97.5%;
    float: left;
    z-index: 999;
	padding:14px;
	border: solid 1px #eeeeee;
	margin-left:1.3%;
}
li.langs-block:hover ul.sub_menu {
    display: block;
}
.pre-header li:hover {
    background-color: transparent;
}

a.dropdown-toggle:before {
    content: "\f105";
    font-family: fontAwesome;
    margin-right: 5px;
}
/*.font-icons:before {
    content: "\f105";
    font-family: fontAwesome;
    margin-right: 5px;
}*/
a.toggle.tnt {
    color: #424242;
	    font-size: 16px;
		margin-top: 5px;
}
.home_txt a {
    text-decoration: none;
}
.home_img a {
    text-decoration: none;
	font-size:11px;
}
.right_txt a {
    text-decoration: none;
}
.left_txt a {
    text-decoration: none;
}
.sub-menu-left {
    float: left;
    width: 50%;
	padding-top: 10px;
}
.sub-img-right {
    float: left;
    width: 50%;
    margin: 12px 0px;
}
.pre-header li {
    text-align: left;
}
li.sub-img {
    padding: 0px !important;
}
img.asub-img {
    max-width: 100%;
}
.icon-shopping-cart:before {
        content: "\f07a";
	font-family: fontAwesome;
	    font-size: 20px;
    top: 8px;
    position: relative;
    left: 26px;
    font-weight: bold;
}
i.icon-shopping-cart {
    font-size: 20px;
    top: 8px;
    position: relative;
    left: 26px;
    font-weight: bold;
}

span.hi_txt {
    float: left;
	margin-right: 10px;
}
.shop-item-price.text-left {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 17px;
    margin-top: 6px;
}
.shop-item-summary h2 {
    text-align: center;
}
span.line-through {
    text-decoration: line-through;
    color: #666;
    font-size: 16px;
}
.sub-menu-left li {
    float: left;
    width: 49%;
    line-height: 25px;
}
.top_b_links a {
    padding: 0px 5px;
}
li.sub_d_down_li {
    width: 50px;
    padding-right: 0px !important;
}
.sub_d_down_li a {
    float: left;
    width: 60%;
}
.i_menu {
    background: #d41d00;
    font-size: 11px;
    border-radius: 50% !important;
    padding: 0px 3px;
    float: left;
    width: 30%;
    margin: 0px;
    position: relative;
    bottom: 6px;
    color: #fff;
    text-align: center;
}
li.hdr_menu_li1 {
    float: left;
    width: auto;
}
li.hdr_menu_li1 a {
    padding: 0px !important;
    float: left;
    width: 100%;
}
li.hdr_menu_li1 a img {
    width: 100%;
    max-height: 40px;
    height: 100%;
	margin-bottom: 6px;
}
/****************/
ul.dropdown-menu.bullhorn_li {
    float: left;
    width: 312px;
}
ul.dropdown-menu.bullhorn_li:last-child a img {
	height: 13px;
    margin-top: -2px;
}
.bullhorn_li li {
    float: left;
}
/*******************/
/***********************new custom css******/
.ecommerce .site-logo {
    padding: 22px 0px 0px;
}
.form-group.srch {
    float: left;
    width: 100%;
    margin: 0px;
	padding: 5% 0% 0%;
	position:relative;
}
.select_tag {
	position: absolute;
    right: 40px;
    margin-top: 3px;
}
.srch_bar {
    border: solid 1px #e9eaec;
}
.search_labl {
    float: left;
    width: 1%;
    position: relative;
    right: 8px;
    top: 8px;
}
.glyphicon-search:before {
    content: "\e003";
    font-size: 20px;
	color: #bec1c6;
}
.icon-addon.addon-lg {
    float: left;
    width: 99%;
    height: 38px;
}
.srch_icons {
    transform: scale(-1, 1);
    cursor: pointer;
}
i.icon-pencil.custom_pen {
    font-size: 20px;
    top: 8px;
    position: relative;
    left: 26px;
    font-weight: bold;
}
i.fa.fa-bullhorn {
    font-size: 20px;
    top: 8px;
    position: relative!important;
    left: 26px;
    font-weight: bold;
}
.top_crt_block {
    padding: 0px;
    padding: 2% 0% 0% 0%;
}
.top-cart-block {
    display: none;
}
.txt-hdr {
    float: left;
    width: 100%;
    text-align: left;
    padding: 14px 0px 0px;
}
ul.list-unstyled.list-inline {
    margin: 0px;
}
.pre-header {
    float: left;
    width: 100%;
    padding:0px;
    border-top: 1px solid rgba(0,0,0,0.050);
}
.icn-head {
    float: left;
    margin-left: 23px;
    width: 70px;
}

.hdr-logo {
    padding-left: 0px;
}

.pre-header a {
    /*font-size:17px!important;*/
	font-weight:400;
}
.pre-header a:hover{
    text-decoration: none;
}

.hdr_menu li a.hdr_a{
    font-size:17px!important;
	padding: 10px;
	font-weight: 600;
	font-family: 微軟正黑體;
	width: 26px;
    height: 23.6px;
	}
.hdr_menu li a.hdr_a:hover {
    text-decoration: none;
	color: #000 !important;
}


.pre-header li a:hover {
    background: rgba(0,0,0,0.08);
}
.pre-header li ul.sub-menu-left-inner2 li a:hover {
     background: rgba(0,0,0,0.08);
}
/*.pre-header li:first-child ul.sub-menu-left-inner2 li a:hover {
     background: rgba(0,0,0,0.08);
}*/
.pre-header li:first-child{
     padding-right:0px!important;
}
.pre-header ul li ul ul li a:hover {
    background: unset;
}
/*.pre-header li:first-child a:hover {
    background: unset;
}*/
.nav_menu ul li:first-child {
    padding-left: 0px;
    float: left;

}
.scroller li a:hover {
    background: none;

}
/*******************/
ul.sub-menu-left-inner {
    float: left;
    width: 100%;
	padding: 0px 0px 0px 15px;
}
.sub-menu-left-inner li {
    width: 33.3% !important;
    color: #000;
	padding: 0px !important;
}
ul.sub-menu-left-inner2 {
    padding: 0px;
    margin-top: 3px;
    float: left;
    width: 95%;
    border-top:1px solid #ddd;
}
.sub-menu-left-inner2 li {
    line-height: 20px !important;
	padding: 0px !important;
	float:left;
	width:100% !important;
}
.sub-menu-left-inner2 li a {
    font-size: 12px !important;
	color: #9E9E9E !important;
}
.sub-menu-left-inner2 li a:hover {
	color: #8d8d8d !important;
}
/**********************/
li.langs-block:hover ul.sub_menu {
  display: block;
}

.pre-header li {
    padding-left: 20px;
    padding-right: 20px;

}
.top-cart-content span {
  width: auto;
}
/*.top-cart-content span, .top-cart-content strong, .top-cart-content em {
  margin-right: 4px !important;
  overflow: hidden;
  padding-top: 0px;
}*/

.pre-header {
  border-bottom: 1px solid rgba(0,0,0,0.050);
}

.pre-header li:hover{cursor:pointer;

      text-decoration: none;
}

.pre-header li:hover a{
       color:black;
}

.home_txt a{ display:none;}
i.icon-pencil.custom_pen,i.fa.fa-bullhorn  {
    left: 40%;
}
.dpmenutop {
    border-right:1px solid #b5b5b5;
    margin-right: 6px;
}
li.dpmenutop:last-child {
    border-right:0px ;
}
.right_txt a {
	padding-left:6px;
    color: white!important;
	border-right:1px solid #b5b5b5;
	padding-right:8px;
}
.right_txt a:last-child , .right_txt a:nth-child(6) {
	border-right:0px ;
}
.right_txt a:last-child{
	padding-right:0px;
}
.top_fb_icon_txt:hover .top_fb_icon{
	opacity:.5;
}
img.top_fb_icon {
    width: 17px;
    margin-left: 10px;
}


.top_crt_block .dropdown{
	text-align:center;
}

img.dropimg2 {
    margin-left: 0px;
}
li.dropdown.faq img.dropimg {
    margin: 0px;
}
.navbar-nav li a {
    padding-top: 5px;
    padding-bottom: 5px;
}
h4.newarv_head {
    float: left;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid;
    padding-bottom: 3px;
    color: black;
	font-weight:600;
}
.dropdown-menu {
    /*-moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background-color: #ddd !important;
    border-color: #ddd black black !important;*/
    border-image: none !important;
   /* border-style: solid !important;*/
   /* border-width: 5px 1px 1px !important;*/
    box-shadow: none !important;
	border: 1px solid #ddd;
}
ul.dropdown-menu.bullhorn_li {
    border-top: 3px solid #ddd;
}
.dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before {
      top: -11px;
    left: 8px;
 }
.dropspan{
	display:block;
	width:92%;
	float:left;
	color:white;
	background-color:#bc2c2d;
	text-align:center;
	padding:10px;
	margin:0px 10px 10px 10px;
	cursor:pointer;
}


.dimg {
   width: 93%;
   margin: auto;
    display: block;
	margin-top:10px;
	margin-bottom:10px;
}
.dimg img {
    margin: auto;
    display: block;
}

.dropdown > .dropdown-menu:after, .dropdown-toggle > .dropdown-menu:after, .btn-group > .dropdown-menu:after {
      border-right: 7px solid transparent;
    border-bottom: 7px solid #ddd!important;
    border-left: 7px solid transparent;
	color:black!important;

}

.dropdown-menu {
    min-width: inherit;
 }

#drpsrch1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom: 2px solid #ddd !important;
    border-image: none;
    border-left-color: #dbdbdb !important;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #dbdbdb !important;
    border-right-style: solid;
    border-right-width: 1px;
    border-top: 2px solid #ddd;
    height: 32px;
    padding: 6px;
    position: absolute !important;
    right: 40%;
    top: 9.6%;
    z-index: 999;
    width: 110px;
    text-align: center;
}
/*
#drpsrch1:focus{
  background-color: e1e1e1!important;
  }

#drpsrch1 option:hover {
	background-color:unset;
	background:unset;
	background:d9d9d9!important;
	background-color:d9d9d9!important;
}  */

.top_head_bar {

	padding: 6px 0px;

	}
.select_tag {
    margin-top: 2px;
 }
.top-cart-content li {
    list-style: none;
    margin: 0;
    padding: 9px 0;
    border-bottom: solid 1px #f2f2f2;
    width: 100%;
    overflow: hidden;
}

ul.dropdown-menu {
    border-top: 3px solid #ddd;
}
.header_nav_wrap{
	display:none;
}
/******************************************/
.blog-tags img {
    padding-right: 0px;
	margin-right: 5px;
}
/******************************************/


@media screen and (min-width: 1000px) {
a.mobi-toggler {
    display: none !important;
}
}
/***************** media start here **************/
@media (max-width: 991px) {
.border-b {
	margin-top:30px !important;
}
}
@media (min-width: 768px) {
#shopcetlog  {
	color: #3E4D5C;
	width:20%;
}
 }

@media screen and (max-width: 768px) {

.header .header-navigation {
    margin: 0;
    padding: 0 10px;
}
.header-navigation {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
}

body.page-header-fixed {
    padding-top: 0px !important;
}
.ecommerce .reduce-header .mobi-toggler, .reduce-header .top-cart-block {
    margin-top: 19px !important;
}
.form-group.srch {
    display: none;
}
select#drpsrch1 {
    display: none;
}


 select:active, select:hover {
    outline: none;
}
 select option {
  background: #fff;
  color: #000;
  box-shadow: inset 20px 20px #f2f2f2;
}

select option:hover {
  color: #000;
  box-shadow: inset 20px 20px #00f;
}

@-moz-document url-prefix() {
	.main-logo {
		float: left;
		margin-top: 0px;
	}
	.right_txt span {
		padding: 0px;
		font-size: 12px;
	}
	.right_txt {
		float: left;
		padding: 0px;
		margin-top: -5px;
		width: 100%;
	}
	.right_area {
		float: left;
		width: 76%;
		padding: 4px 0px 0px 20px;
	}
	.left_area {
		float: left;
		width: 24% !important;
	}
	.home_img a {
		text-decoration: none;
		font-size: 13px;
	}
.icn-head {
    float: left;
    width: auto;
	}
a.mobi-toggler {
    position: absolute !important;
    top: 26px !important;
    right: 11px;
	}
}
a.mobi-toggler {
    display: block;
}
#drpsrch1 {
    position: absolute!important;
    right: 21%;
    top: 56%;
    z-index: 999;
    padding: 6px;
    border-color: #dbdbdb!important;
    color: grey!important;
    border-bottom: none;
    border-top: none;
}
.header .header-navigation {
     margin-top: 15px;
}
.header .mobi-toggler {
    display: block;
}
.ecommerce .page-slider {
    margin-top: 87px;
	float:left;
	width: 100%;
}
.logo_cart_section {
    margin-top: 6%;
    position: fixed;
    z-index: 999;
    background: white;
    top: 0px;
}
.nav_menu {
     display: none;
}

.header .header-navigation li {
    float: left;
    padding: 10px 0px;
    clear: both;
	margin: 0px;
}
.myclass .sub-menu-left .sub-menu-left-inner2 li {line-height: 1.5em!important;}
.myclass .sub-menu-left li {
    line-height: 20px;
	width: 96%!important;
}
.sub-menu-left-inner2 li a{font-size:14px !important;}

ul.sub_menu {
    width: 100%;
    margin-left: 0;
	background: #f9f9f9;
    border: none;
}
.right_txt img {
    width: 80%;
}
.page-header-fixed .header-navigation {
    height: auto;
    overflow-x:hidden;
}
.header .header-navigation li > a, .header .dropdown.open .dropdown-toggle, .header .header-navigation li.open > a {
    border-bottom: none !important;
	padding:0px 10px !important;
	}
.header .header-navigation li > a:hover, .header .header-navigation li.active > a, .header .header-navigation li.open > a:hover {
	border-bottom: none !important;
	padding:0px 10px;
}
.header .header-navigation li ul li {
    border-bottom: 1px solid #ddd;
    margin-left: 0px;
    float: left;
    padding-left: 38px;
}
.cart_icon {
    display:block;
}

.cart_icon {
    float: right;
    width: auto;
    position: relative;
    width: 30%;
	right: -16px;
	bottom: 4px;
}
p.cart_left_box {
    padding: 0px 10px 20px;
    width: 33%;
	}
	p.cart_left_box {
    border: none;
    padding: 0px 20px;
    margin: 0px;
    border-radius: 0px;
    width: auto;
    position: absolute;
    right: -19px;
    bottom: 23px;
    background: unset;
    font-size: 14px;
    padding-right: 35px;
}
ul.main_sub_menu {
    padding-left: 5px;
}
.sub-menu-left {
    float: left;
    width: 100%;
	padding-top: 10px;
	overflow-x: hidden;
}
ul.list-unstyled.list-inline {
    width: 100%;
}
.header-navigation ul li {
    width: 100%;
}
span.drop_down_menu a{
	color:#000;
}
.drop_down_menu:after {
    content: "\f106";
    font-family: FontAwesome;
    position: absolute;
    font-size: 17px;
    right: 15px;
    color: #999;
}
.drop_down_menu.collapsed:after{
	content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    font-size: 17px;
    right: 15px;
    color: #999;
}
.sub-menu-left-inner_li-1 .drop_down_menu:after {
    content: "\f106";
    right: 5px;
}
.sub-menu-left-inner_li-1 .drop_down_menu.collapsed:after {
    content: "\f107";
    right: 5px;
}
.home_txt {
     display: none;
}
.left_area {
    float: left;
    width: 40%;
}
.right_area {
    float: right;
    width: 60%;
	padding: 4px 0px 0px 20px;
}
.right_txt {
    float: left;
    padding: 0px;
	margin-top: -3px;
}
img.top_fb_icon {
    display: none;
}

/*.left_txt {
    display: none;
}*/
.right_txt span {
    padding: 0px;
    font-size: 12px;

}
.icn-head {
    float: left;
    width: auto;
	}
.top_crt_block {text-align: center; display:none;}
	.icn-head2 {
    float: left;
    width: 100%;
}
i.fa.fa-bullhorn {
    font-size: 20px;
    top: 8px;
    position: relative;
    left: 1px;
    font-weight: bold;
	}
i.icon-pencil.custom_pen {
    font-size: 20px;
    top: 8px;
    position: relative;
    left: 0px;
    font-weight: bold;
}
.txt-hdr {
    font-size: 12px;
    text-align: center;

}
.txt-hdr .title2{
    font-weight: bold;
}
.add_img {
    float: left;
    width: 100%;
}


.txt-hdr {
    display: none;
}
li.dropdown {
    display: none;
}
.add_img {
    display: none;
}

a.mobi-toggler {
    position: absolute!important;
    top: 15px;
    left: 11px;
}
a.site-logo {
    float: left;
    width: 100%;
    text-align: center;
}

.men-us.col-lg-4.col-md-4.col-sm-6.col-xs-12 {
    margin-bottom: 25px;
}
}
.W80{
	width:80%;
	float:left;
}
.margin_b40p{
	margin-bottom:40px;
}
.padding_left0{
	padding-left:0px;
}
.outer_blog_box{
	display:none;
}
.outer_blog_box1{
	display:block;
}
.dsk_blog_title{
	display:block;
}
.mob_blog_title{
	display:none;
}
@media screen and (min-width: 769px) and (max-width: 1000px) {
a.mobi-toggler {
    display: none !important;
}
img.dropimg {
    margin-left: 0px;
}
img.dropimg2{
	 margin-left: 0px;
}
a.toggle.tnt {
    padding: 10px 0px;
    font-size: 12px;
	line-height: 16px;
}

.site-logo img {
    width: 110px;
}

.col-sm-2.hdr-logo {
    padding: 0px;
    float: left;
    width: 15%;
}
.col-sm-5.hdr-frm {
    padding: 0px;
    margin: 0px 15px;
    width: 28%;
}
.form-group.srch {
    float: left;
    width: 100%;
	}
/*.col-sm-5.top_crt_block {
    float: left;
    width: 52%;
}*/
.add_img {
    /*float: left;*/
    /*width: 40%;*/
}
.icn-head {
    float: left;
    width: 20%;
    text-align: center;
}
}
@media screen and (max-width: 360px){
.cart_icon {
    width: 34%;
    right: -5px;
    bottom: 4px;
}
.cart {
    right: 5px;
	}
p.cart_left_box {
    padding: 2px 7px;
    width: 7%;
    right: 0;
}

}
.dropdown-menu > li {
  background: white none repeat scroll 0 0!important;
  width:50% !important;
}
.txt-hdr a {
  color: #424242!important;
  padding-left: 10px;
  font-weight: normal !important;
}

a:hover
{
color: #d9d9d9 !important;
text-decoration: none;
}
.site-logo {
  float: left;
  font-size: 23px;
  font-weight: 400;
  margin-right: 16px!important;
  padding-bottom: 22px;
  padding-top: 22px;
}
.ecommerce .header .mobi-toggler {
  margin-top: 18px !important;
}




/*.top-cart-content strong {
  font-weight: normal;
  width: 178px !important;
}*/
.top-cart-content::after {
  border-bottom: 8px solid #000 !important;
}
.top-cart-content {
  border-top: 2px solid #000!important;
  border: 2px solid #ddd;
}
.sub_menu.sub_menu1 {
	z-index: 9999999;
    width: 275px;
    left: unset;
    height: 270px;
    float: right;
    background: none;
	top: 37px;
    right: 15px;
}
.top-cart-content-wrapper {
    float: left;
    width: 100%;
    border-top: none;
    padding-top: 10px;
}

.product-item .pi-img-wrapper {
    height: auto;
    overflow: hidden;
}
/*********************custom css*********************/

.cart_drop_down_left {
    float: left;
    width: 30%;
    margin-right:0px;
}
.cart_drop_down li {
    padding-left: 0px !important;
}
.cart_drop_down_left a {
    float: left;
    width: 55%;
    margin-right: 5px;
}
.cart_drop_down_left a img {
    width: 100%;
    min-height: 50px;
}
.cart_drop_down_left span {
    padding: 10px 0px;
    float: left;
}
.cart_drop_down_right {
    float: left;
    width: 66%;
}
.cart_drop_down_right strong {
    width: 150px !important;
	padding-top: 17px;
}
a.drop_down_right_txt {
    float: left;
    width: 100%;
    font-size: 11px !important;
    line-height: 20px;
}
.cart_drop_down_right em {
    float: left;
    width: 19%;
    margin: 0px !important;
    padding: 9px 0px;
}
.cart_drop_down_right a.top-del-goods.del-goods {
    float: right;
    margin: 18px 0px 0px 3px !important;
    width: 7%;
}
.col-md-12.col-sm-12.filter-bar {
    /*border-bottom: 1px solid #f2f2f2;*/border-bottom: none;
    padding: 0px 0px 10px;
}
.sub-menu-left-inner li {
    font-weight: 600;
	text-align: left;
	font-family: 微軟正黑體;
}
/*a.font-icons.f_icon_bold {
    font-weight: 600;
}*/

/**************/
a.ls-nav-next {
    z-index: 10 !important;
}
a.ls-nav-prev{
    z-index: 10 !important;
}

/*********/
.news-tab {
    float: left;
    width: 50%;
    height: 15px;
    overflow: hidden;
}
.news-tab p{
    color: #fff;
	font-weight:600;
}
.news-tab a {
    color: #fff ;
	font-weight:600;
}
/***************** media end **************/



/***************** search box end **************/

/***************index page css statrt***********/

.new_footr {
    float: left;
    padding-left: 5px;
	text-align:center;
}
.pre-footer {
    background: #313131;
    /* background: #cebea2; */
    color: #FFF;
    float: left;
    width: 100%;
}
.footer-menu {
    float: left;
    width: 100%;
	margin-bottom: 10px;
}
.men-us {
    float: left;
    display: inline-block;
    padding-right: 13px;
    padding-left: 13px;
}
li.menu_link {
    list-style: none;
    float: left;
    /* margin-left: 0px; */
}
li.dot-dot {
    list-style: none;
    float: left;
    margin-left: 13px;
}
p.link-menu {
    /* float: left; */
    /* width: 80%; */
    /* padding: 3px; */
    margin-top: 36px;
}
.taime {
    font-size: 13px;
	    color:#fff;
}
li.menu_link a:hover {
    color: rgba(255,255,255,0.9);
}
li.menu_link a {
    color: #fff;
}
li.menu_link a {
    text-decoration: none;
}
.border-b {
    border-top: 1px solid #fff;
    padding-bottom: 30px !important;
    padding-top: 20px !important;
}
/*************gallery csss***************/
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
margin-top: 20px;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
/*position:relative;*/
font-size:17px;
    font-weight: 600;
    font-family: inherit;
/*background:rgba(0,0,0,0.6);*/
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:50px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
    /*margin: 20px 0 0;*/
    padding: 6px 13px;
    margin: 15px 10px 0px 10px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
.hovereffect .img-responsive {
    width: 100%;
}
/***************css of gallarys_me**************/
.custom_des {
    position: absolute;
    top: 1720px;
    width: 43%;
}
.top_row {
    padding-bottom: 20px;
}
.text-center h3.page-header {
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0px 0px 0px;
    font-size: 30px;
    padding: 0px;
    border: 0px;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    vertical-align: baseline;
    text-transform: uppercase;
    letter-spacing: 4px;
	padding-bottom: 5px;
}
p.titlep {
    box-sizing: border-box;
    margin: 0px 0px 10px;
    padding: 0px;
    border: 0px;
    color: black;
    text-align: center;
    color: rgb(7, 7, 7);
    letter-spacing: 2px;
    font-style: inherit;
    font-variant: inherit;
    font-weight: 600;
    font-stretch: inherit;
    font-size: 12px;
    margin-top: 15px;
    letter-spacing: 2px;
    line-height: inherit;
    font-family: inherit;
    vertical-align: baseline;
    text-transform: uppercase;
}
.pge_row_brdr {
	display:none;
    float: left;
    width: 100%;
	margin: 20px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
}
.second_row {
    padding-bottom: 20px;
}
.menu_link p:nth-child(2) {
    padding-top: 0px;
}
/********************************************/
ul.custow {
    float: left;
    width: 100%;
}
.shop-option-over {
    position: absolute;
    top: 8px;
    right: 2px;
    z-index: 20;
    width: 50px;
    filter: alpha(opacity=0);
    -webkit-transition: all .300s;
    -moz-transition: all .300s;
    -o-transition: all .300s;
    transition: all .300s;
}
body.ecommerce {
    background: white !important;
}
.thumbnail_fix:hover a.gid655.btn.btn-default.add-wishlist {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 50% !important;
    padding: 10px 12px;
    display: block;
}
a.gid655.btn.btn-default.add-wishlist {
    display: none;
}
.mob_menu_link{
	display:none;
}

@media screen and (max-width: 768px) {

.menu_link{
	display:none;
}
.mob_menu_link{
	display: block;
    border: 1px solid #d1d1d1;
    padding: 5px 0px;
    margin: 0px;
	font-size: 14px;
	text-align: center;
}
button.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background: none;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #fff;
    float: right;
    margin-left: 5px;

}
.footer a {
    color: #fff;
}
button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
	margin: 0px;

}
/*******************/
.panel.panel-default.faq_default {
    max-height: 100%;
    opacity: 1;
    margin-top: 10px;
    padding: 0px;
}
/*******************/
.mob_blog_title.collapsed .fa-plus:before {
    content: "\f067";
}
.mob_blog_title .fa-plus:before {
    content: "\f068";
}
.mob_blog_title i.fa.fa-plus {
    color: #fff;
    background: #666666;
    padding: 4px 3px 1px;
    font-size: 8px;
    border-radius: 2px;
    margin: 0px;
    float: right;
    font-weight: 400;
}
.sidebar-products_inner{
	display:none;
}
h2.mob_blog_title {
    float: left;
    width: 100%;
}
.sidebar-products_inner2 {
    float: left;
    width: 100%;
    margin-top: 30px;
}
/****************/
li.dropdown.mob_drp_dwn {
    display: block;
    padding: 10px;
	border-bottom: 1px solid #ddd;
}
li.dropdown.mob_drp_dwn img.dropimg {
    float: left;
    width: 45px;
    margin-right: 10px;
}

ul#drop_down1111 {
    width: 100%;
    float: left;
    margin-top: 5px;
}
ul#drop_down1111 li {
    width: 100% !important;
    background: none !important;
}
li.mnu_li.langs-block {
    padding-left: 5px !important;
	border-bottom: 1px solid #ddd;
}
i.angl_rgt.fa.fa-angle-right {
    font-size: 22px;
    margin-left: 5px;
    color: #000;
    font-weight: 600;
}
/*****************/
div.panel.show ul {
    list-style: none;
}
div.panel.show {
    opacity: 1;
    max-height: 500px;
    background: none;
    padding: 10px;
    width: 100%;
    text-align: center;
}
div.panel.show a{
	color: #cccccc;
    font-size: 14px;
	text-decoration: none;
}
button.accordion a {
    text-decoration: none;
}
button.accordion a:hover {
    color:#b0b0b0;
}
.mob_rgh2 {
    float: left;
    width: 100%;
}
div.panel.show ul li{
	text-align:center;
}
}

/**************************************************************************/
/* Featured Item */
.owl-carousel.featured .owl-featured-item {
	width:99%; padding-bottom:15px;
	text-align:center;
	display:block;

	webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.owl-carousel.featured .owl-featured-item:hover {
	background-color: #eaeaea;
}
.owl-carousel.featured .owl-featured-item a.figure {
	margin:0; padding:0;
	display:block;
	width:100%;
	height:auto;
	overflow:hidden;
	text-align:center;
	z-index:0;
	position:relative;
}

.owl-carousel.featured .owl-featured-item a.figure>img {
	height:auto !important;
	width:100% !important;
	max-width: 100% !important;
	vertical-align:top;
}
.owl-carousel.featured .owl-featured-detail {
	position:relative;
	padding-top:6px;
}

.owl-carousel.featured .owl-featured-detail:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	left: 50%;
	margin-left: -10px;
	top: -10px;
	z-index:10;
	webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
	.owl-carousel.featured .owl-featured-item:hover>.owl-featured-detail:after {
		border-bottom: 10px solid #eaeaea;
	}

.owl-carousel.featured .owl-featured-detail>a.featured-title {
	color:#333;
	margin-top:6px;
	display:block;
}
.owl-carousel.featured .owl-featured-detail>span.price {
	display:block;
	margin-bottom:6px;
}
.owl-carousel.featured {
	margin-top:6px;
}
.owl-carousel.featured .owl-controls.clickable {
	top:0 !important;
	margin-top:-45px;
	position:absolute;
	right:0;
}

h2.owl-featured {
	font-size:16px;
	line-height:19px;
	border-bottom:rgba(0,0,0,0.2) 1px dashed;
	padding-bottom:6px;
	margin-bottom:10px;;
}

.owl-carousel.featured a.figure>span {
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	background-color:rgba(0,0,0,0.3);
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: opacity 0.3s;
	   -moz-transition: opacity 0.3s;
		 -o-transition: opacity 0.3s;
			transition: opacity 0.3s;
}
.owl-carousel.featured a.figure>span>i {
	color:#333;
	position:absolute;
	left:50%; top:50%;
	background:#fff;
	font-size:21px;
	width:50px; height:50px;
	line-height: 50px !important;
	text-align:center;
	margin-left:-20px;
	margin-top:-20px;

	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;

	-webkit-border-bottom-right-radius: 20px;
		-webkit-border-top-left-radius: 20px;
		-moz-border-radius-bottomright: 20px;
			-moz-border-radius-topleft: 20px;
			border-bottom-right-radius: 20px;
				border-top-left-radius: 20px;
}
.owl-carousel.featured a.figure:hover>span {
	filter: alpha(opacity=100);
	opacity: 1;
}

.owl-carousel.featured {
	overflow:inherit !important;
}
.owl-carousel.featured .owl-prev,
.owl-carousel.featured .owl-next {
	display:inline-block !important;
	color:#999 !important;
	width:30px !important;
	height:30px !important;
	line-height:30px !important;
	font-size:20px !important;
}
.owl-carousel.featured .owl-prev:hover,
.owl-carousel.featured .owl-next:hover {
	color:#121212 !important;
}
.nopadding 			{ padding:0 !important; 		}
.nopadding-left 		{ padding-left:0 !important; 	}
.nopadding-right 	{ padding-right:0 !important; 	}
.nopadding-top 		{ padding-top:0 !important; 	}
.nopadding-bottom	{ padding-bottom:0 !important; 	}
.nomargin 			{ margin:0 !important; 			}
.nomargin-left 		{ margin-left:0 !important; 	}
.nomargin-right 		{ margin-right:0 !important; 	}
.nomargin-top		{ margin-top:0 !important; 	}
.nomargin-bottom	{ margin-bottom:0 !important; 	}
.noborder 			{ border:0 !important; 			}
.noborder-left		{ border-left:0 !important; 	}
.noborder-right		{ border-right:0 !important; 	}
.noborder-top		{ border-top:0 !important; 		}
.noborder-bottom	{ border-bottom:0 !important; 	}
.nobg				{ background:transparent; 		}
.nobackground		{ background:none !important;    }


/*********************************************************************/

#carousel_inner {
float:left; /* important for inline positioning */
width:100%; /* important (this width = width of list item(including margin) * items shown */
overflow: hidden;  /* important (hide the items outside the div) */
padding-bottom:20px;
/* non-important styling bellow */
//background: #F0F0F0;
}

#carousel_ul {
	float:left;
position:relative;
left:-242px; /* important (this should be negative number of list items width(including margin) */
list-style-type: none; /* removing the default styling for unordered list items */
margin: 0px;
padding: 0px;
width:9999px; /* important */
/* non-important styling bellow */
padding-bottom:10px;
}


#carousel_ul li{
float: left; /* important for inline positioning of the list items */
width:230px;  /* fixed width, important */
/* just styling bellow*/
padding:0px;
height:auto;
//background: #000000;
margin-top:10px;
margin-bottom:10px;
margin-left:5px;
margin-right:0.5%;
list-style:none;
}

#carousel_ul li img {
.margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/
/* styling */
width:100%;
cursor:pointer;
cursor: hand;
border:0px;
}
#carousel_ul .thumb1st  a{
	float:left;
	width:185px;
	height:185px;
}
#carousel_ul .thumb1st  a.gid113{
	float:left;
	width:40px;
	height:40px;
	margin-right:14px;
}
.slider_items {
    float: left;
    width: 100%;
}
#carousel_inner2 .thumb1st  a{
	float:left;
	width:100%;
}
#carousel_inner2 .thumb1st  a.gid113{
	float: left;
    width: 40px;
	height:40px;
    margin-right: 14px;
}
#carousel_inner2 .thumb1st  a img{
	float:left;
	width:100%;

}
#carousel_inner2 ul li{
	list-style:none;
    height: 400px;
}
#carousel_inner2 ul li .h_item2{
	left:19px;
}
#tabcon .h_item2{
	left:19px;
}

#left_scroll, #right_scroll{
float:left;
}
/*#left_scroll img, #right_scroll i{
styling
cursor: pointer;
cursor: hand;
}*/
h2.owl-featured.noborder {
    float: left;
    width: 90%;
}
#right_scroll img {
    margin-top: -3px;
}
.news_items {
    float: left;
    width: 100%;
    padding: 15px;
}
h2.owl-featured.noborder.important-txt.news_c {
    width: 100%;
}
a.btn-primary.news_title_btn.news_btn {
    padding: 5px 30px 5px 30px;
    font-size: 16px;
}
a.btn-primary.news_title_btn.news_btn:hover {
    color: #8d8d8d!important;
    background-color: white!important;
    border: 1px solid #8d8d8d!important
}

.news_block a.job2 {
    color: #8d8d8d;
}
.news_post_items a.job2 {
    color: #8d8d8d;
}
.blog-post-item p.text-left {
    color: #8d8d8d;
}
.blog-post-item ul li {
    color: #8d8d8d;
}
.blog-posts a.more {
    color: #8d8d8d;
}
/**************************/
.blog-cnt-hrd h2 {
    color: #8d8d8d;
}
.blog-cnt-hrd p {
    color: #8d8d8d;
}
.blog-content p{
	color: #8d8d8d;
}
/**********************/
/*span.label.label-warning {
    background-color: #8d8d8d;
}*/
.col-md-1.col-xs-1.pull-left.wishtittle.goldfont.mob_title {
    color: #8d8d8d;
}
.collapsed2:after{
	content: "\f106";
    font-family: FontAwesome;
    position: absolute;
    font-size: 17px;
    right: 15px;
    color: #999;
}
/***************************/
#carousel_ul_logo {
position:relative;
left:-217px; /* important (this should be negative number of list items width(including margin) */
list-style-type: none; /* removing the default styling for unordered list items */
margin: 0px;
padding: 0px;
width:9999px; /* important */
/* non-important styling bellow */
padding-bottom:10px;
}

#carousel_ul_logo li{
float: left; /* important for inline positioning of the list items */
width:215px;  /* fixed width, important */
/* just styling bellow*/
padding:0px;
height:auto;
//background: #000000;
margin-top:10px;
margin-bottom:10px;
margin-left:5px;
margin-right:5px;
}

#carousel_ul_logo li img {
.margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/
/* styling */
max-width:100%;
cursor:pointer;
cursor: hand;
border:0px;
}
#left_scrolls, #right_scrolls{
float:left;
}
#left_scrolls img, #right_scrolls img{
/*styling*/
cursor: pointer;
cursor: hand;
}

.owl-probox1 #probox1 {
position:relative;
left:0px; /* important (this should be negative number of list items width(including margin) */
list-style-type: none; /* removing the default styling for unordered list items */
margin: 0px;
padding: 0px;
/*width:9999px;*/ /* important */
/* non-important styling bellow */
padding-bottom:20px;padding-top: 30px;
width:100%;
}
.owl-probox1 #probox1 li {
float: left; /* important for inline positioning of the list items */
width:226px;
max-width:454px ; /* fixed width, important */
/* just styling bellow*/
height:auto;
/*background: #000000;*/
margin:10px auto;
padding:0 !important;
}
.owl-probox1 #probox1 li img {
.margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/
/* styling */
max-width:100%;
cursor:pointer;
cursor: hand;
border:0px;
}
.owl-probox2 #probox2{
position:relative;
left:0px; /* important (this should be negative number of list items width(including margin) */
list-style-type: none; /* removing the default styling for unordered list items */
margin: 0px;
padding: 0px;
/*width:9999px;*/ /* important */
/* non-important styling bellow */
padding-bottom:20px;padding-top: 30px;
/*    width: calc(100% + 30px);
    margin-left: -15px;*/
width: 100%;
}
/*.owl-probox2 #probox2 .owl-wrapper-outer {
    width: calc(100% + 30px);
    margin-left: -15px;
}*/
.owl-probox2 #probox2 li{
float: none; /* important for inline positioning of the list items */
width:226px;
max-width:454px ; /* fixed width, important */
/* just styling bellow*/
height:auto;
display:inline-block;
/*background: #000000;*/
margin:10px auto;
padding:0 !important;
/*padding-right:15px;
padding-left:15px;*/
}
.owl-probox2 #probox2 li img {
.margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/
/* styling */
max-width:100%;
cursor:pointer;
cursor: hand;
border:0px;
}
.owl-probox3 #probox3{
position:relative;
left:0px; /* important (this should be negative number of list items width(including margin) */
list-style-type: none; /* removing the default styling for unordered list items */
margin: 0px;
padding: 0px;
/*width:9999px;*/ /* important */
/* non-important styling bellow */
padding-bottom:20px;padding-top: 30px;
    width:100%;
}
.owl-probox3 #probox3 .blog-post-item{
float: none; /* important for inline positioning of the list items */
width:285px;
/*max-width:234px ;*/ /* fixed width, important */
/* just styling bellow*/
height:auto;
display:inline-block;
/*background: #000000;*/
margin:10px auto;
padding:0 !important;
/*padding-right:15px;
padding-left:15px;*/
}
.owl-probox3 #probox3 li img {
.margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/
/* styling */
max-width:100%;
cursor:pointer;
cursor: hand;
border:0px;
}
.owl-probox4 #probox4{
position:relative;
left:0px; /* important (this should be negative number of list items width(including margin) */
list-style-type: none; /* removing the default styling for unordered list items */
margin: 0px;
padding: 0px;
/*width:9999px;*/ /* important */
/* non-important styling bellow */
padding-bottom:20px;padding-top: 30px;
    width:100%;
}
.owl-probox4 #probox4 .top_image-box-item{
float: none; /* important for inline positioning of the list items */
width:285px;
/*max-width:234px ;*/ /* fixed width, important */
/* just styling bellow*/
height:auto;
display:inline-block;
/*background: #000000;*/
margin:10px auto;
padding:0 !important;
/*padding-right:15px;
padding-left:15px;*/
}
.owl-probox4 #probox4 li img {
.margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/
/* styling */
max-width:100%;
cursor:pointer;
cursor: hand;
border:0px;
}
.owl-probox5 #probox5{
position:relative;
left:0px; /* important (this should be negative number of list items width(including margin) */
list-style-type: none; /* removing the default styling for unordered list items */
margin: 0px;
padding: 0px;
/*width:9999px;*/ /* important */
/* non-important styling bellow */
padding-bottom:20px;padding-top: 30px;
    width:100%;
}
.owl-probox5 #probox5 li{
float: none; /* important for inline positioning of the list items */
width:211px;
/*max-width:234px ;*/ /* fixed width, important */
/* just styling bellow*/
height:auto;
display:inline-block;
/*background: #000000;*/
margin:10px auto;
padding:0 !important;
/*padding-right:15px;
padding-left:15px;*/
}
.owl-probox5 #probox5 li img {
.margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/
/* styling */
max-width:100%;
cursor:pointer;
cursor: hand;
border:0px;
}
#probox1 .owl-dots,#probox2 .owl-dots,#probox3 .owl-dots,#probox4 .owl-dots,#probox5 .owl-dots {
    text-align: center;
    height: 20px;
}
#probox1 .owl-dot,#probox2 .owl-dot,#probox3 .owl-dot,#probox4 .owl-dot,#probox5 .owl-dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 5px;
    border-radius: 10px !important;
    overflow: hidden;
}
#probox1 .owl-dot span,#probox2 .owl-dot span,#probox3 .owl-dot span,#probox4 .owl-dot span,#probox5 .owl-dot span {
    display: block;
    width: 10px;
    height: 10px;border: 1px solid #ccc;
    border-radius: 10px !important;
}
#probox1 .owl-dot.active span,#probox2 .owl-dot.active span,#probox3 .owl-dot.active span,#probox4 .owl-dot.active span,#probox5 .owl-dot.active span {background-color: #000 !important;}
.owl-probox1 #left_scrolls ,.owl-probox2 #left_scrolls ,.owl-probox3 #left_scrolls ,.owl-probox4 #left_scrolls,.logo_slider #left_scrolls {
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: -19.5px;
    margin-top: -13px;
    z-index: 9;
}
.owl-probox1 #right_scrolls,.owl-probox2 #right_scrolls,.owl-probox3 #right_scrolls,.owl-probox4 #right_scrolls,.logo_slider #right_scrolls {
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: -11.5px;
    margin-top: -13px;
    z-index: 9;
}
/*@media screen and (max-width:479px){
	.owl-probox1 #probox1,.owl-probox2 #probox2,.owl-probox3 #probox3,.owl-probox4 #probox4{width:80%;margin: 0 10%;}
	.owl-probox1 #probox1 .owl-wrapper-outer,.owl-probox2 #probox2 .owl-wrapper-outer,.owl-probox3 #probox3 .owl-wrapper-outer,.owl-probox4 #probox4 .owl-wrapper-outer{overflow:visible;}
}*/
/*********************/
.top_image-box_heading {
    float: left;
    width: 100%;
}
.top_image-inner-box {
    margin: 0 auto;
    width: 800px;
}
.top_image-inner-box img {
    width: 100%;
    object-fit: cover;
}
.top_image-inner-box h1 {
    font-size: 38px;
    margin: 0px 0px 30px;
	color:#333;
}
.top_image-inner-box h3 {
    font-size: 22px;
    margin: 0px 0px 0px;
    color: #3e4d5c;
}
.top_image-box {
    float: left;
    width: 100%;
	margin: 20px 0px 0px;
}
a.ftr_gallery-img {
    float: left;
    width: 100%;
}
.ftr_gallery-txt-box {
    float: left;
    width: 100%;
    padding: 10px 0px;
}
.ftr_gallery-img img {
    float: left;
    width: 100%;
    object-fit: cover;
	min-height: 242px;
}
.ftr_gallery-txt-box h4 {
    float: left;
    width: 100%;
    text-align: center;
	margin-bottom: 20px;
}
.ftr_gallery-txt-box h4 a {
	color:#666666;
	font-weight:700;

}
span.ftr_img_more_btn {
    float: left;
    width: 100%;
    text-align: center;
	margin: 20px 0px 0px;
}

.more_btn {
    padding: 5px 30px 5px 30px;
    font-size: 16px;
    float: none;
    width: 68%;
    margin: 0 auto;
    color: #333 !important;
    font-weight: 600;
    background: transparent;
    text-transform: uppercase;
}
.more_btn:hover {
	background:none;
	color:#333;
}
.ftr_img_more_btn i.fa.fa-chevron-right {
    margin-left: 10px;
}
.ftr_gallery-txt-box p {
    float: left;
    width: 100%;
    position: relative;
    margin: 0px;
}
ul.blog-tags {
    margin: 0px;
    padding: 0px;
    float: left;
    width: auto;
}
.news_post_items {
    margin-top: 30px;
}
.top_image-box-item:first-child {
    padding-left: 0px;
}
.top_image-box-item:last-child {
    padding-right: 0px;
}
.logo_slider {
    float: left;
    width: 100%;
    /*padding: 0px 15px;*/
	position: relative;    margin-top: 30px;
}
/*******************************************/
.ftr_logo_box {
    float: left;
    width: 100%;
	/*padding: 0px 15px;*/
}
.ftr_logo_box-inner {
    float: left;
    width: 100%;
	margin:20px 0px 40px;
}
a.featured-logo {
    float: left;
	width:24%;
	padding-top: 4px;
}
.featured-logo img {
    border-radius: 50% !important;
	object-fit: cover;
	width: auto;
}
.featured-txt-box h4 {
    font-size: 14px;
    letter-spacing: 1px;
	font-weight:600;
	margin-bottom:5px;
	color: #8d8d8d;
}
.featured-txt-box p {
    font-size: 12px;
    margin:0px 0px 0px;
	color: #8d8d8d;
}
.featured-txt-box {
    float: left;
    width: 76%;
    padding: 0px 0px 0px 3px;
}


****************nav css*****************/
@media screen and (max-width: 2000px) and (min-width: 768px)
.nav-tabs_index {
    text-align: center;
    width: 160px;
    float: left !important;
}
.nav-tabs.nav-bottom-border {
    border: 0 !important;
}
.nav-tabs.nav-bottom-border>li.active {
    margin-bottom: 0 !important;
}

div.shop-item>.thumbnail {
    background-color: transparent !important;
    border-color: #ddd !important;
    border: solid 1px #000;
    margin-bottom: 6px;
    position: relative;
}
.noborder {
    border: 0 !important;
}
.nopadding {
    padding: 0 !important;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
div.shop-item-summary {
    padding: 5px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.thumbnail_fix {
    position: absolute !important;
    width: 100%;
    height: 100%;
}
.thumbnail_container_fix {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 6px;
}
.nav-tabs.nav-bottom-border>li>a {
    border: 0 !important;
    border-bottom: rgba(0,0,0,0.1) 3px solid !important;
	background: white !important;
	padding: 20px 40px 10px 40px !important;
}

/**************************************************/

.summ1 {
	overflow:hidden;
	text-align: left ;
	float:left;
 }

.d2sum {
	 color:#8d8d8d;
	 height:65px;
	 text-align: left;
	 margin-bottom: 10px;
	 overflow:hidden;
	 float:left;
}
.item-price {color:#c70003;}
.summ1 {
    padding: 8px 0px 8px 0px;
}
.d2sum a {
font-size: 13px!important;color:#8d8d8d !important;
}
.d2sum a:hover {
text-decoration:none;
color:#d9d9d9 !important;
}
#tabcon{
	background-color:white!important;
	float:left;
	width:100%;
}

.thumb1st {
    position: relative;
}
.sdul  .thumb1st a {
	float:left;
	width:100%;
}
.sdul  .thumb1st a  img {
	float:left;
	width:100%;
}
.sdul   a.gid113 {
    width: 12%;
    margin-right: 14px;
    float: left;
}

.product_scnd_slider .nav.nav-tabs{
	margin-left:25%;
	float:left;

}

a.gid113.btn.btn-default.add-wishlist.href-reset {display:none;
    position: absolute;
    top: 10px;
    right: 10px;width:40px;height:40px; border-radius:25px!important;    border: 2px solid #adadad;
}
i.fa.fa-heart.nopadding {
	color:#8d8d8d !important;
    margin-top: 7px;
    margin-left: -2px;
}
li.col-md-3.col-sm-3.col-xs-6:hover a.gid113.btn.btn-default.add-wishlist.href-reset { display:block;}



/******************media start************/

@media screen and (max-width: 768px) {


	.news_items .row {
    padding-left: 17px!important;
    padding-right: 10px!important;
}
	.nav-tabs.nav-bottom-border li a {
    border: 0 !important;
    border-bottom: rgba(0,0,0,0.1) 3px solid !important;
    background: white !important;
    padding: 20px 0px 10px 0px !important; margin-right:10px!important;
}
a.btn-primary.news_title_btn.news_btn {
    padding: 5px 72px 5px 78px;
    font-size: 16px;margin-bottom:1%;
}


h2.owl-featured.noborder {

	   font-family: 'Times New Roman', serif;
    font-size: 22px!important;
    font-weight: normal;
    text-transform: capitalize; text-align:center;width:108px;

    float: left;
    width: 63%; margin-top:10px;
}
	.top_head_bar .container {
    width: 100%;
    float: left;
}
.pge_row_brdr {
     margin: 20px 0px;
 }

.top_head_bar {
    float: left;
    width: 100%;
    background: #8d8d8d;
    padding: 6px;
	position: fixed;
    top: 0;
    z-index: 9999;

}

}
/******************media end************/


.ftimg.col-md-12.col-lg-12 {
    margin-bottom: 11.5%;
}
li.menu_link { text-align:center;
    width: 100%;
}
.logoimg{
	margin:auto;
	}

.sdul li {
	list-style:none!important;
	}
#tabcon .sdul li {
	padding-right:0px;
	}
.header .header-navigation {
    display: none;
}
.tab_morebtn .glyphicon.glyphicon-chevron-down,.tab_morebtn a {
    color: #666;
}
div#drop_down144 {
    float: left;
    width: 100%;
    margin: 20px 0px;
}
.tab_morebtn {
    margin-top:2%;
}
.tab_morebtn a{
  font-weight:700;
}

/******************sign_up page************/
input.radio_btn {
    position: absolute;
    top: 0px;
    left: 0;
    display: block;
    width: 19px;
    height: 19px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0,0,0,0.3);
    background: rgba(255,255,255,0.3);
}
input.checkbx_btn {
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 18px;
    height: 17px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0,0,0,0.3);
    background: rgba(255,255,255,0.3);
}

.footnew {
        border-right: 2px dashed;
    height: 250px;
    display: inline-block;
    float: left;

}
.footer {
    padding: 0px ;
}
.ftimg.col-md-12.col-lg-12 {

    padding-top: 15px;
}
.taime last-child {
    padding-bottom: 9px;
}


.footer-menu {
    padding-top: 30px;
	padding-bottom:15px;
}
.col-md-6.col-lg-6.ftr_left-cnt {
    border-right: 2px dashed;
}
.rgh2{
    padding: 15px;
}
.menu_link p {
    margin-bottom: 6%!important;
}
.ftimg {
    margin-bottom: 5%!important;
}

.footnew2 {
    border-right: 0px;

}

.item-price.text-left {

	float:left;
	width:100%;
	padding:10px 0px;
	font-size: 26px;
    color: #b52b28;
    font-weight: 600;
}
.sdul .item-summary {
    margin-bottom: 12px;
}
.d2sum a {
    width: 100%;
    float: left;
	line-height:1.5;
}
.d2sum {
    font-weight: normal;
	line-height:1.5;
    font-size: 17px;
    color: #666;
    margin: 0 0 4px 0;
}
.d2sum h2 {
	float:left;
}

.summ1 {
	padding-left:0px!important;
	color:#b52b28;
	/*line-height: 0px !important;*/
	font: 600 13px  微軟正黑體,'Open Sans', sans-serif;
}
#carousel_ul li {
float: left;
width: 2.2%;
}

#carousel_ul_logo li
 {
    float: left;
    width: /*217px*/calc(1106px / 5);
}

div#redfont {
    color: red;
}
.margin-bottom-40 {
    width: 100%;
}

.menu_link a {
    font-size: 12px;
}

.fmenu3{
	border-bottom:1px solid white ;
	padding-bottom:5px;
	font-size:14px!important;
	}



/******************media************/
@media screen and (max-width: 768px) {
.margin-bottom-40 {
    width: auto;
}
.new_arril{
	float: left;
    width: 100%;
    padding: 0px;
}
.thumb1st {
    padding: 0px;
}

.mob-header {
    position: fixed;
    top: 0px;
    z-index: 999;
}
.news-tab {
    display: none;
}
.right_area {
    float: right;
    width: 100%;
	padding:0px;
}
.right_txt {
    float: left;
    padding-top: 5px;
    margin-top: 0px;
    width: 100%;
	text-align: right;
}
.left_txt {
	padding:2px 0px 0px 6px;
}
.right_area .right_txt a:first-child{padding:0 5px;}
.right_txt a:first-child {
    padding: 0px;
}
.right_txt span {
    border-right: none;
}
.right_txt a {
    padding-left: 5px;
    color: white!important;
    font-size: 10px;
    padding-right: 5px;
}
.sub-menu-left li {
    line-height: unset !important;
}
.top_head_bar {
    float: left;
    width: 100%;
    background: #8d8d8d;
    padding: 6px 0px;
    position: unset;
    top: 0;
	min-height: 38px;
}
.pre-header {
    border-top: none;
	border: none;
}
.pre-header.main-nav-scrolled .col-sm-12 {
    min-height: unset;
}
.logo_cart_section {
    margin-top: 0px;
    position: unset;
    background: white;
    top: 0px;
	height: 70px;
    box-shadow: 0px 3px 7px #797979;
	box-shadow: 0px 3px 7px #e8e8e8;
    border-bottom: 1px solid #e6e5e5;
}
.col-sm-2.hdr-logo {
    float: left;
    width: 100%;
}
.main-logo {
    float: left;
    width: 100%;
}
.main-logo a.site-logo {
    float: left;
    width: 100%;
    text-align: center;
    padding: 9px 0px;
}
.main-logo a.site-logo img {
    width: 90px;
    margin-top: 10px;
}
.top_image-inner-box {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    /* border: 2px solid #d3d3d3; */
    padding: 5px 0px;
}
.top_image-inner-box h1 {
    font-size: 26px;
    margin: 0px 0px 20px;
}
.top_image-inner-box h3 {
    font-size: 18px;
	}
.ecommerce .header .mobi-toggler {
    font-size: 26px;
    top: 40px;
	color: #000;
}
.mob_search .fa-search:before {
    content: "\f002";
    font-size: 20px;
}
.mob_search {
	display:block;
    float: right;
    position: absolute;
    right: 50px;
    top: 29px;
}
.mob_search a {
    color: #000;
}

.search-box.over-header {
    text-align: center;
    position: absolute;
    padding: 0;
    background-color: #fff !important;
    left: 0;
    top: 0 !important;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto !important;
    z-index: 100000000000000;
    border: 0;
    display: none;
	padding-top: 34px;
}
.search-box a#closeSearch {
    position: absolute;
    right: 0;
    color: #333;
    background: transparent;
    top: 50%;
    right: 30px;
    font-size: 20px;
    margin-top: 10px;
    z-index: 1;
}
.search-box input#skey3 {
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    height: inherit;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding-left: 40px;
    padding-right: 60px;
    border: 0;
    box-shadow: none;
}
.top-cart-info-count {
    color: #000;
}
.header .header-navigation {
	display: block !important;
    margin-top: 0pc;
    width: 75%;
    padding: 0px;
    box-shadow: 0px 3px 7px #797979;
    top: 0px;
    left: 0px;
	transition: 0.5s;
	height: 100%;
    overflow-y: scroll;
}
.border_bottom{
	border-bottom: 1px solid #ddd;
}
.padding_bottom_none{
	padding-bottom:0px;
}
span.menu_title {
    width: 100%;
    float: left;
    padding: 0px 0px 8px 11px;
}
.header .header-navigation li ul .sub-menu-left li {
    border: none;
    padding: 6px 16px;
	font-weight:normal;
}
.header_nav_wrap {
    float: left;
    width: 100%;
    position: absolute;
    height: 662px;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.51);
	transition: 0.5s;
	display: block;
}
.drop_down_menu.collapsed {
    position: unset;
    background: unset;
    padding: 0px;
	color: #666666;
}
.drop_down_menu:hover{
	color: #666666 !important;
}
.drop_down_menu {
    width: calc(100%);
    background: #d2d2d2;
    float: left;
    position: relative;
    /*top: -10px;
    left: -10px;*/
    padding: 10px 10px;
}
li.menu-search {
    display: none;
}

#navToggle{
	position: absolute;
    margin-top: 15px;
    left: 78%;
	width: 20px;
    height: 20px;
}
.top_image-box-item {
    float: left;
    width: 100%;
}
.page-slider {
    margin-top: 125px;
	margin-bottom: 0px !important;
}
.hdr-logo {
    padding-left: 0px;
    padding-right: 0px;
}
a.featured-logo {
    float: left;
    text-align: center;
	    width: 100%;
}
.featured-txt-box {
    float: left;
    width: 100%;
    padding: 5px;
    text-align: center;
}
.featured-txt-box h4 {
    font-size: 18px;
    margin: 5px 0px;
}
.featured-txt-box p {
    font-size: 14px;
    margin: 0px 0px 0px;
}
.news_post_items h4.bfont.text-left.margin-top-20.size-16 {
    min-height: 54px;
}
.news_post_items p {
    min-height: 75px;
}
.nav-tabs.nav-bottom-border li a {
    margin-right: 8px!important;
    font-size: 12px;
}

.news_title_box span {
    float: left;
    width: 100%;
    text-align: center;
}
.news_block {
    float: left;
    width: 100%;
    text-align: center;
}
h2.owl-featured.noborder {
    text-align: center;
    float: left;
    width: 100%;
}
.top_image-box-item.col-md-3.col-sm-6.col-xs-6.margin-bottom-10 {
    padding: 0px;
}
.ftr_gallery-img img {
    min-height: auto;
}
.fmenu3{
	border-bottom:none ;

	}
.sub_menu.myclass {
    position: unset!important;
}

/*****************************************/
.panel.show ul li p {
    margin: 0px;
}
.footer-menu {
    padding-top: 15px;
    padding-bottom: 0px;
	margin-bottom: 0px;
}
.rgh2 {
	/*float: left;
	padding: 0px;*/
	display: table;
    float: none;
    padding: 0px;
    margin: 0 auto;
}
.footnew2 {
     border-top: 2px dashed;
     display: inline-block;
    float: left;

}
.footnew {
    border-right: 0px;

}
.footer {
    padding: 0px;
    float: left;
    width: 100%;
}
.row.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding: 0px 0px;
}
.taime.col-md-12.col-lg-12 {
    font-size: 13px;
}
.ftimg{
    margin-bottom: 3.5%;
}
.menu_link p {
    margin-bottom: 3px ;
}
	.row.col-lg-12.col-md-12.col-sm-12.col-xs-12{ margin:auto;}
/*****************/
.outer_blog_box{
	display:block;
}
.outer_blog_box1{
	display:none;
}
.dsk_blog_title{
	display:none;
}
.mob_blog_title{
	display:block;
}
.collapse {
    display: none !important;
    visibility: hidden;
}
.collapse.in {
    display: block !important;
    visibility: visible;
	padding: 1px 0;
}
.prd_icon {
    right: 20px;
	width: 30px;
    height: 30px;
    padding: 7px;
}
.single_product .col-md-5.margin0 {
    margin: 0px 0px 10px;
}


/*********************/
.d2sum {
    height: auto;
}
div#carousel_inner2 ul li {
    padding: 0px;
}
div#carousel_inner2 ul li:nth-child(odd) {
    padding-right: 7px;
}
div#carousel_inner2 ul li:nth-child(even) {
    padding-left: 7px;
}
.new_arril .item-summary {
    float: left;
    width: 100%;
    padding: 0px;
}
.tab_morebtn {
    width: 100%;
    text-align: center;
}
.tab_morebtn .glyphicon.glyphicon-chevron-down, .tab_morebtn a {
    text-align: center;
    width: 100%;
}
.product_scnd_slider .nav.nav-tabs {
    margin-left: 0%;
}
.m_tab ul {
    left: 50%;
}
.news_post_items_btn {
    padding-top: 0px;
    margin-bottom: 15px;
}
.blog-post-item.col-md-3.col-sm-6.col-xs-6.margin-bottom-10 {
    float: left;
    width: 100%;
}
.col-md-4.col-sm-4.items-info {
    float: left;
    width: 100%;
}
div#shop_catepg {
    float: left;
    width: 100%;
}
#shop_catepg .product-item .pi-img-wrapper a {
    float: left;
    width: 100%;
    /*height: auto;*/
    object-fit: cover;
}
.search_block_right {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.content-page {
    margin-right: 0px;
}
.service-box .service-box-heading span {
    font-size: 20px;
}
}
@media screen and (max-width:500px) {
#shop_catepg .product-item .pi-img-wrapper a {
    height: auto;
}
}
@media screen and (max-width:320px) {
.mob_search {
    right: 35px;
}
}

@media screen\0 {
p.cart_left_box{
	position:relative;
	padding-right:50px;
}
.cartli{
	position:absolute;
	right:0px;
	top:10px;
}
ul.sub_menu.sub_menu1{
	left:-159px;
}
.asub-img{
	width:100% !important;
}
ul.ie_sub_menu{
	max-width:1140px;
	position:fixed;
	left:87px;
}
}
.btn-black {
    background-color: #111;
    color: #FFF !important;
}

/*******************************************************************/
/***************index page css end***********/
@media (min-width: 769px){
.men-us.col-lg-4.col-md-4.col-sm-6.col-xs-12 {
    width: 33.33333333%;
}
#shopcetlog  {
	color: #3E4D5C;
	width:20%;
}
}
@media (max-width: 768px){
.men-us.col-lg-4.col-md-4.col-sm-6.col-xs-12 {width: 100%;}
.new_footr {text-align:	left;}
#shopcetlog  {
	color: #3E4D5C;
	width:100%;
}
li.nosort a:after,li.nosort a.drop_down_menu{display:none !important;}
}