body {font-family:'微軟正黑體' !important;}
  .logo-container{
    position: relative;
  }
    .logo-dealer{
      width:50px !important;
      height:50px !important;
      border-radius: 50%;
      webkit-border-radius: 100% !important;
      -moz-border-radius: 100% !important;
      border-radius: 100% !important;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    }
    .blog.style-2 .article .content{
      border: 1px solid #FFF;
      padding: 6px 3px 12px 3px;
      overflow: hidden;
    }
    .article .logo-page{
      width:32px !important;
      height:32px !important;
      border-radius: 50%;
      webkit-border-radius: 100% !important;
      -moz-border-radius: 100% !important;
      border-radius: 100% !important;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
      position: absolute;
      left: -40px;
      top: -3px;
    }
.dropdown-menu {
    /*-moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background-color: #ddd !important;
    border-color: #ddd black black !important;*/
    border-image: none !important;
   /* border-style: solid !important;*/
   /* border-width: 5px 1px 1px !important;*/
    box-shadow: none !important;
  border: 1px solid #ddd;
}
ul.dropdown-menu.bullhorn_li {
    border-top: 3px solid #ddd;
}
.dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before {
    top: -11px;
    left: 8px;
 }
.dropspan{
  display:block;
  width:92%;
  float:left;
  color:white;
  background-color:#bc2c2d;
  text-align:center;
  padding:10px;
  margin:0px 10px 10px 10px;
  cursor:pointer;
}
.dimg {
  width: 93%;
  margin: auto;
  display: block;
  margin-top:10px;
  margin-bottom:10px;
}
.dimg img {
    margin: auto;
    display: block;
}
.dropdown > .dropdown-menu:after, .dropdown-toggle > .dropdown-menu:after, .btn-group > .dropdown-menu:after {
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ddd!important;
    border-left: 7px solid transparent;
    color:black!important;
}

.dropdown-menu {
    min-width: inherit;
 }

.top-cart-content::after {
  border-bottom: 8px solid #000 !important;
}
.top-cart-content {
  border-top: 2px solid #000!important;
  border: 2px solid #ddd;
}
.sub_menu.sub_menu1 {
  z-index: 9999999;
    width: 275px;
    left: unset;
    height: 270px;
    float: right;
    background: none;
  top: 37px;
    right: 15px;
}
.top-cart-content-wrapper {
    float: left;
    width: 100%;
    border-top: none;
    padding-top: 10px;
}

.product-item .pi-img-wrapper {
    height: auto;
    overflow: hidden;
}
/*********************custom css*********************/

.cart_drop_down_left {
    float: left;
    width: 30%;
    margin-right:0px;
}
.cart_drop_down li {
    padding-left: 0px !important;
}
.cart_drop_down_left a {
    float: left;
    width: 55%;
    margin-right: 5px;
}
.cart_drop_down_left a img {
    width: 100%;
    min-height: 50px;
}
.cart_drop_down_left span {
    padding: 10px 0px;
    float: left;
}
.cart_drop_down_right {
    float: left;
    width: 66%;
}
.cart_drop_down_right strong {
    width: 150px !important;
  padding-top: 17px;
}
a.drop_down_right_txt {
    float: left;
    width: 100%;
    font-size: 11px !important;
    line-height: 20px;
}
.cart_drop_down_right em {
    float: left;
    width: 19%;
    margin: 0px !important;
    padding: 9px 0px;
}
.cart_drop_down_right a.top-del-goods.del-goods {
    float: right;
    margin: 18px 0px 0px 3px !important;
    width: 7%;
}
.col-md-12.col-sm-12.filter-bar {
    border-bottom: 1px solid #f2f2f2;
    padding: 0px 0px 10px;
}
.sub-menu-left-inner li {
    font-weight: 600;
  text-align: left;
  font-family: 微軟正黑體;
}
.scroller li a {
  padding:0px 4px 0px 0px !important;
}
/*6/16改*/
header nav > ul ul li.second a {letter-spacing:1px !important;width:158px !important;}
ul.dropdown-menu li.langs-block { position: relative; float: left;}
li.langs-block ul.sub_menu.ie_sub_menu{ display:block !important; width:100%; float:none; padding:0; margin:0; position: relative; border:none;}
.sub-menu-left{float:none; width:100%; padding-top: 0;}
ul.sub-menu-left-inner {float: none; width:calc(100% - 20px); padding: 0; display: block; position: relative; margin: 0; left: 0 !important; border-top: 1px #eee solid; margin-left: 20px;}
.sub-menu-left-inner li{width:100% !important;}
.sub-menu-left-inner li {float: none;}
.dropdown-menu li ul ul li > a{padding: 8px 14px 8px 0px;}
li a.hdr_b {font-size: 14px; font-weight: bold; padding: 10px 20px; line-height: normal;}
ul.dropdown-menu li.langs-block:nth-child(1), ul.dropdown-menu li.langs-block:nth-child(2) {min-height: 290px;}
.dealernav{float:left; width:calc(100% - 223.56px);}
li.langs-block.cartli {
    width: 15px;
    height: 60px;
    margin-right: 20px;
    float: left;
    margin-left: 10px;
}
li.border_bottom {
    float: left;
}
.floatR{float:right;}
.sub_menu.sub_menu1{right: -20px;}
.top-cart-content:after{right: 13px;}

@media (min-width: 1100px){ ul.sub-menu-left-inner{ display:block !important; opacity:1 !important;}.top-cart-content:after{}}
/*@media (max-width: 1460px){ul li.dropdown:nth-child(3) ul.dropdown-menu{width:960px !important; left:inherit; right:0;} ul li.dropdown:nth-child(3){position:static;} }*/
@media (max-width: 1230px){header nav > ul > li > a{font-size: 12px;}header nav > ul ul li a{font-size: 10px;}}
@media (max-width: 1100px){
#mCSB_1_container ul > li > a{font-size: 16px !important;}
#mCSB_1_container ul ul li a{font-size: 14px !important;}
header nav .mCSB_container > ul ul li a{padding:10px 22px;}
ul.dropdown-menu li.langs-block:nth-child(1), ul.dropdown-menu li.langs-block:nth-child(2) {min-height: inherit;}
ul.dropdown-menu ,ul.dropdown-menu.bullhorn_li{
    float: none;
}
.bullhorn_li li ,.floatR {float: none;}
.dealernav{float:none; width:100%;}
ul li.dropdown:nth-child(2) ul.dropdown-menu{width:100% !important;}
ul.dropdown-menu li.langs-block {float: none; width: 98% !important;}
li.langs-block.cartli {float: none; width:100%;}
li.border_bottom {float: none;}
.cart{left:0;}
.sub_menu.sub_menu1{display:block; width:100%; height:auto; right:0; margin-bottom:37px;}
.top-cart-content:after{right:0; left:6px;}
/*.dropdown > a:after{content:"▼";}*/
.icon1-chevron-down:before{content:"\f107"; font-family: FontAwesome; font-size: 17px; position: absolute; right: 0; top:11px;text-decoration:none;}
/*ul.dropdown-menu li.langs-block:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 9px;
}*/
span.arrow-down {
    width: 100%;
    height: 60px;
	top:0 !important;
}
span.arrow-down.up:before {
    content: "\f106";
	text-decoration:none;
}
}
@media (max-width: 1100px){
	.dropdown > .dropdown-menu:after, .dropdown-toggle > .dropdown-menu:after, .btn-group > .dropdown-menu:after ,.dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before{
		border-bottom: 7px solid transparent!important;
	}
	ul.dropdown-menu, ul.dropdown-menu.bullhorn_li{border: none;}
}
.num{
    position: absolute;
    width: 18px;
    height: 18px;
    background: #FF0124;
    border-radius: 20px !important;
    color: aliceblue;
    padding-left: 2.8px !important;
    line-height: 18px;
    top: 5%;
    right: -110%;
    text-align: center;
    z-index: 50;
    font-size: xx-small;
}