body {
	font-family: 微軟正黑體,sans-serif;
}

body.ecommerce {
	background: #f9f9f9;
}
.ecommerce h1, .ecommerce h2, .ecommerce h3, .ecommerce h4, .ecommerce h5, .ecommerce h6 {
	font-family: 微軟正黑體,sans-serif;
	margin: 0 0 10px;
	text-transform: uppercase;
}

.ecommerce h1 {
	font-size: 18px;
}
.ecommerce h2 {
	font-size: 14px;
}
.ecommerce .content-page h2,
.ecommerce .content-page h3,
.ecommerce .content-page h4,
.ecommerce .content-page h5,
.ecommerce .content-page h6 {
	padding-top: 0px;
}
.ecommerce .content-page h3 {
	font-size: 20px;
	margin-bottom: 7px;
}
.ecommerce .content-page h4 {
	font-size: 17px;
	margin-bottom: 4px;
}
.ecommerce .content-page h5,
.ecommerce .content-page h6 {
	font: 700 15px;
	margin-bottom: 2px;
	font-family:微軟正黑體,sans-serif;
}

/***
Header and header elements
***/
.ecommerce .header {
	position: inherit;
}
/*.ecommerce .site-logo {
	padding-top: 31px;
	padding-bottom: 8px;
}*/
.ecommerce .reduce-header .site-logo {
	/*padding-top: 16px;*/
	padding-top: 7px;
	padding-bottom: 0px;
}

.ecommerce .header-navigation li.menu-search {
	top: 31px;
}
.ecommerce .header-navigation li.menu-search i {
	color: #8a949e;
}

/* Navigation */
.ecommerce .header-navigation {
	font-size: 19px;
	letter-spacing: 1px;
	margin: 0;
	font-family:微軟正黑體,sans-serif;
}
.ecommerce .header-navigation > ul > li > a {
	color: #8d8d8d;
	padding: 34px 12px 32px;
}
.ecommerce .header-navigation ul > li.active > a,
.ecommerce .header-navigation ul > li > a:hover,
.ecommerce .header-navigation ul > li > a:focus,
.ecommerce .header-navigation ul > li.open > a,
.ecommerce .header-navigation ul > li.open > a:hover,
.ecommerce .header-navigation ul > li.open > a:focus {
	color: #e02222;
}
.ecommerce .header-navigation .dropdown-menu > li > a:hover,
.ecommerce .header-navigation .dropdown-menu > li.active > a,
.ecommerce .header-navigation .header-navigation-content .header-navigation-col li > a:hover,
.ecommerce .header-navigation .header-navigation-content .header-navigation-col li.active > a {
  color: #fff;
}
.ecommerce .header-navigation ul > li.active > a {
	border-bottom: 6px solid #8d8d8d;
}

.ecommerce .header-navigation > ul > li > .dropdown-menu {
	margin-top: -3px;
}
.ecommerce .reduce-header .header-navigation > ul > li > .dropdown-menu {
	margin-top: -3px;
}
.ecommerce .reduce-header .header-navigation > ul > li.dropdown:hover > a:after {
  bottom: 0;
}
.header .header-navigation > ul > li > a{
	padding: 34px 0px 32px;
}

/* nav brands */
.nav-brands {
  clear: both;
  margin: -20px -15px;
  padding: 20px 0 0;
  width: auto;
}
.nav-brands ul {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  background: #fff;
  width: 100%;
  overflow: hidden;
  border-top: solid 1px #f0f0f0;
}
.nav-brands li {
  float: none;
  margin-right: 0 !important;
  border: none !important;
  display: inline-block;
}
.nav-brands img {
  width: auto;
  height: 70px;
}
.nav-brands a {
  padding: 0 !important;
}
.nav-brands a:hover {
  background: #fff;
  color: #fff;
}

/* Top cart block */
.header .top-cart-block {
	float: right;
	margin-top: 30px;
	margin-left: 12px;
	position: relative;
	font: 400 13px;
	font-family:微軟正黑體,sans-serif;
}
.ecommerce .header .mobi-toggler {
	margin-top: 30px;
}
.ecommerce .reduce-header .mobi-toggler,
.reduce-header .top-cart-block {
	margin-top: 19px;
}
.top-cart-info {
	background: #f9f9f9;
	color: #595f65;
	border: solid 1px #ececec;
	border-radius: 16px !important;
	float: left;
	padding: 8px 39px 6px 13px;
	line-height: 1.2;
}
.top-cart-info a {
	color: #595f65;
}
.top-cart-info-count {
	float: left;
	/*
	position: absolute;
	top: -10px;
	right: -10px;
	background-color: #FF0000;
	color: #FFF;
	padding: 4px;
	font-size: 10px;
	z-index: 99;
	webkit-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	border-radius: 100% !important;
	width: 20px;
	height: 20px;
	text-align: center;
	*/
}
	a.top-cart-info-count{
		/*color: #FFF;*/
	}
.top-cart-info-value {
	border-left: solid 1px #a5aab0;
	margin-left: 5px;
	padding-left: 5px;
}
.top-cart-block .fa-shopping-cart {
	position: absolute;
	top: 0;
	right: 0;
	background: #e84d1c;
	color: #fff;
	padding: 8px 8px 7px;
	border-radius: 16px !important;
	font-size: 16px;
}
.top-cart-block .fa-cloud {
	position: absolute;
	top: 0;
	right: 0;
	background: #e84d1c;
	color: #fff;
	padding: 8px 8px 7px;
	border-radius: 16px !important;
	font-size: 16px;
}

/*.top-cart-content-wrapper{
	position: absolute;
    right: 15px;
    top: 5px;
    z-index: 99999;

}*/
.top-cart-content {
	padding: 8px 0 10px;
	background: #fcfafb;
	/*border-top: solid 2px #ea4c1d;
	box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
	width: 364px;
	margin-top: 12px;*/
	color: #717880;
	display: none;
	/*position: relative;*/
	transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
}
.top-cart-content:after {
	top: 2px;
	width: 0;
	height: 0;
	right: 50px;
	z-index: 2;
	content: " ";
	display: block;
	position: absolute;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
.top-cart-block:hover .top-cart-content {
	display: block;
}
.top-cart-content p {
	margin: 7px 0 5px;
}
.top-cart-content ul {
	margin: 0;
	padding: 0 8px;
}
.top-cart-content .scroller {
	overflow: hidden;
}
.top-cart-content li {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: solid 1px #f2f2f2;
	width: 100%;
	overflow: hidden;
    line-height: normal;
}
.top-cart-content img,
.top-cart-content em,
.top-cart-content strong,
.top-cart-content span,
.top-cart-content .del-goods,
.top-cart-content .add-goods {
	float: left;
}
.top-cart-content img {
	border: solid 2px #fff;
	margin-right: 4px;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.top-cart-content span,
.top-cart-content strong,
.top-cart-content em {
	/*margin-right: 10px;*/
	overflow: hidden;
	padding-top: 10px;
}
.top-cart-content span {
	width: 26px;
	line-height: normal;
}
.top-cart-content strong {
	font-weight: normal;
	margin-right:0px;
	width: 100px;
    text-overflow: ellipsis;
	white-space: nowrap;
}
.top-cart-content strong a {
	color: #717880;
	width: 100px;
    text-overflow: ellipsis;
	white-space: nowrap;
    letter-spacing: 0px;
}
.top-cart-content em {
	width: 55px;
	font-style: normal;
	text-align: right;
	line-height: normal;
}
.top-cart-content h4{
	text-align: right;
	font-weight: bold;
	font-size: 14px;
	border-top:1px dotted #ccc;
}


.del-goods,
.add-goods {
	width: 17px;
	height: 17px;
	color: #fff !important;
	border-radius: 22px !important;
	float: right;
	/*margin: 10px 0 0 5px;*/
	line-height: 1;
	font-size: 12px;
}
.del-goods:hover,
.add-goods:hover {
	text-decoration: none;
}
.del-goods {
	background: #d7dde3 url(../../layout/img/icons/del-goods.png) no-repeat 50% 50%;
}
.del-goods:hover {
	background: #E94D1C url(../../layout/img/icons/del-goods.png) no-repeat 50% 50%;
}
.add-goods {
	background: #7bdd00 url(../../layout/img/icons/add-goods.png) no-repeat 50% 50%;
}
.add-goods:hover {
	background: #E94D1C url(../../layout/img/icons/add-goods.png) no-repeat 50% 50%;
}
.scroller li {
    position: relative !important;
}
a.top-del-goods.del-goods.del_btn {
    position: absolute;
    right: 10px;
	display: initial;
}
.top-cart-content .text-right {
	margin-right: 8px;
	padding-top: 10px;
}
.top-cart-content .btn {
	font-size: 11px;
	padding: 8px 12px 7px;
}
.top-cart-content .btn-default {
	color: #fff;
	border: 1px solid #c1cad3;
	background: #c1cad3;
	margin-right: 4px;
}
.top-cart-content .btn-default:hover {
	border: 1px solid #A8AEB3;
	color: #fff !important;
	background: #A8AEB3;
}

.ecommerce .page-slider {
	margin-top: -23px;
}

/* breadcrumb */
.ecommerce .breadcrumb {
	text-transform: uppercase;
	font: 13px 微軟正黑體,"PT Sans Narrow", sans-serif;
}
.ad_column {
    float: left;
    border: 1px solid #eee;
    text-align: center;

}
.ad_column p{
	margin:0px;
	padding:10px 0px;
}
.ad_product_image {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.ad_product_image img {
    width: 100%;
    float: left;
}
/* Catalogue styles */

.product_items {
    background: #fff;
    position: relative;
    float: left;
    width: 100%;
    border: 1px solid #f2f2f2;
    margin-bottom: 25px;
}
.shop-item {
    float: left;
    width: 100%;
    position: relative;
}
.shop-item:hover a.product_icon{
	display:block;
}
p.h_item {
    background: #d9534f;
    float: left;
    padding: 4px 13px;
    color: #fff;
    font-size: 13px;
    border-radius: 4px !important;
    margin: 0px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
	font-weight: 600;
}
p.h_item2 {
    background: #d9534f;
    float: left;
    padding: 4px 13px;
    color: #fff;
    font-size: 13px;
    border-radius: 4px !important;
    margin: 0px;
    position: absolute;
    top: 4px;
    left: 19px;
    z-index: 2;
	font-weight: 600;
}
/*
.product-item {
    background: #fff;
    position: relative;
    float: left;
    width: 100%;
    border: 0px solid #f2f2f2;
}*/
#page_itemprodct .product-item {
    background: #fff;
    position: relative;
    float: left;
    width: 175px;
    border: 0px solid #f2f2f2;
    height: auto;
    margin-right: 10px;
}
#page_itemprodct  {
    display:block!important;
  }
.owl-item .product-item {
    width: 90%;
 }
.product-item-btn-box {
    float: left;
    width: 100%;
    padding: 0px;
}
/*.product-item:hover a.product_icon{
	display:block;
}*/

.pi-img-wrapper {
    height: 156px;
    overflow: hidden;
}
.top71 {
    top: 71px;
}
.cursorp{
cursor:pointer}
}
/*.shop-item_outer.col-md-4.col-sm-6.col-xs-12 {
    padding: 0px 0px 0px 20px;
}*/
a.product_icon {
    position: absolute;
    top: 10px;
    background: #fff;
    padding: 8px 10px;
    right: 29px;
    border-radius: 50% !important;
    border: 1px solid #ccc;
	display:none;
	color:#000;
}
.owl-item.active .product-item {
	margin-right: 10px;

}
/*.product-item:hover {
	box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
}*/
.product-item:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height:0;
}
*html .product-item {
	zoom: 1;
}
*+html .product-item {
	zoom: 1;
}
.sticker {
	position: absolute;
	top: 0;
	left: 0;
	width: 63px;
	height: 63px;
}
.sticker-sale {
	background: url(../../layout/img/sale.png) no-repeat;
}
.sticker-new {
	background: url(../../layout/img/new.png) no-repeat;
	left: auto;
	right: 0;
}
.sticker-promote {
	/*background: url(../../layout/img/1479543238.png) no-repeat;*/
}
.pi-img-wrapper {
	position: relative;
}
.pi-img-wrapper div {
	background: rgba(0,0,0,0.3);
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
}
.product-item:hover>.pi-img-wrapper>div {
	display: block;
}
.pi-img-wrapper div .btn-default {
	padding: 3px 10px;
	color: #fff;
	border: 1px #fff solid;
	margin: -13px 5px 0;
	background: transparent;
	position: relative;
	top: 50%;
	font-size: 12px;
}
.product-item .btn:hover {
    background-color: white !important;
    border-color: #8d8d8d;
    color: #8d8d8d !important;
}
.product-item-btn-box h2 {
    color: #666;
    font-size: 15px;
}
.product-item-btn-box h2:hover {
    color: #000;
    cursor:pointer;
}
.product-item h3 {
    font: 600 13px 微軟正黑體, 微軟正黑體,'Open Sans', sans-serif;
    padding-top: 15px;
    padding-bottom: 0px;
}
.product-item h3 a {
    color: #666;

}

.product-item .item-name a:hover {
	color: #000;
}

.pi-price {
	color: #b52b28 !important;
	font: 18px 微軟正黑體, 微軟正黑體,'PT Sans Narrow', sans-serif;
	float: left;
	padding-top: 1px;
	margin-left:2%;

}
.slider_data .pi-price {
	float: left;
    width: 100%;
    padding: 10px 0px;
    font-size: 26px;
    color: #b52b28;
    font-weight: 600;
}
.product-item .add2cart {
    float: right;
    color: #fff;
    border: 1px #666 solid;
    padding: 3px 6px;
    background: #666;
}
.product-item .add2cart:hover {
	color: #fff !important;
	background: #AB8B64 !important;
	border-color: #AB8B64;
}
.shop-index-carousel {
	margin-left: -10px;
}

/* shopping cart page */
.goods-data {
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	overflow-x: auto;
	margin-right: 10px;
}
.goods-data table,
.checkout-page table {
	width: 100%;
	font: 300 13px 微軟正黑體, 微軟正黑體,'Open Sans', sans-serif;
}
.goods-data th,
.checkout-page th {
	font: 16px 微軟正黑體,"PT Sans Narrow", sans-serif;
	text-transform: uppercase;
	border-bottom: solid 1px #ecebeb;
	padding-bottom: 8px;
}
.goods-data td,
.checkout-page td {
	vertical-align: top;
	padding: 20px 20px 20px 0;
	border-bottom: solid 1px #ecebeb;
}
.goods-page-image,
.checkout-image {
	width: 105px;
}
.goods-page-image img,
.checkout-image img {
	width: 75px;
}
.goods-page-price,
.goods-page-total,
.checkout-price,
.checkout-total {
	font-family: 微軟正黑體, 微軟正黑體,'PT Sans Narrow', sans-serif;
}
.goods-page-price strong,
.goods-page-total strong,
.checkout-price strong,
.checkout-total strong {
	color: #e84d1c;
	font-size: 21px;
	font-weight: normal;
}
.goods-page-price strong span,
.goods-page-total strong span,
.checkout-price strong span,
.checkout-total strong span  {
	font-size: 17px;
}
.goods-data h3,
.checkout-page .checkout-description h3 {
	font: 300 14px 微軟正黑體, 微軟正黑體,'Open Sans', sans-serif;
	text-transform: inherit;
	padding: 0;
	margin: 0 0 5px;
}
.goods-data p,
.checkout-description p {
	margin-bottom: 2px;
}
.goods-data a,
.checkout-page .checkout-description a {
	color: #e6400c;
}
.goods-page-description em,
.checkout-description em {
	display: block;
	font-style: normal;
}
.goods-page .btn-default {
	float: left;
	border: 1px solid #5ea8dc;
	background: #5ea8dc;
	color: #fff;
}
.goods-page .btn-default:hover {
	border: 1px solid #408cc2;
	background: #408cc2;
}
.goods-page .btn-primary {
	float: right;
	margin-right: 10px;
}

.goods-data .del-goods,
.goods-data .add-goods {
	margin-top: 4px;
}

.shopping-total,
.checkout-total-block {
	width: 230px;
	float: right;
	padding-top: 9px;
	color: #3e4d5c;
}
.checkout-total-block {
	margin-bottom: 20px;
}
.shopping-total ul,
.checkout-total-block ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.shopping-total li,
.checkout-total-block li {
	border-bottom: solid 1px #ecebeb;
	width: 100%;
	overflow: hidden;
	padding: 9px 0;
}
.shopping-total li:last-child,
.checkout-total-block li:last-child {
	border: none;
}
.shopping-total em,
.checkout-total-block em {
	font: 18px  微軟正黑體,'PT Sans Narrow', sans-serif;
	float: left;
	text-transform: uppercase;
	position: relative;
	top: 2px;
}
.shopping-total strong,
.checkout-total-block strong {
	color: #e84d1c;
	font: 21px  微軟正黑體,'PT Sans Narrow', sans-serif;
	font-weight: normal;
	float: right;
}
.shopping-total strong span,
.checkout-total-block strong span {
	font-size: 17px;
}
.shopping-total-price,
.checkout-total-price {
	font-weight: bold;
}
.shopping-total-price strong,
.checkout-total-price strong {
	font-weight: bold;
}

/* checkout page */
.checkout-page h2 {
	background: #a7b0b8;
	color: #fff;
	font: 17px  微軟正黑體,'PT Sans Narrow', sans-serif;
	margin: 0 0 15px;
}
.checkout-page h2 a {
	color: #fff;
	display: block;
	padding: 9px 20px 8px !important;
}
.checkout-page h2 a:hover {
	color: #fff;
}
.checkout-content {
	padding: 0 20px 40px;
}
.checkout-block.panel {
	background: inherit;
	box-shadow: none;
	margin-bottom: 0;
}
.checkout-page a {
    color: #767F88;
}
.checkout-page a:hover {
	color: #E02222;
}
.checkout-page h3 {
	font: 23px  微軟正黑體,'PT Sans Narrow', sans-serif;
	color: #3e4d5c;
	padding-top: 10px;
}
.checkout-page select.form-control {
	color: #B0B4B7;
}
.checkout-page select.form-control.input-sm {
	width: 100%;
	height: 34px;
	font-size: 14px;
	padding: 6px 12px;
}
.checkout-page hr {
	clear: both;
}
#shipping-method .form-group {
	padding-top: 10px;
}
.checkout-page h4 {
	text-transform: inherit;
	font-size: 20px;
}

.checkout-page .panel {
	border-radius: 0;
	border: none;
	box-shadow: none;
}
.checkout-page .panel-heading {
	background: none;
	padding: 0;
}
.checkout-page .panel-body {
	border: none !important;
	padding-left: 20px;
	padding-right: 20px;
}
.radio-list {
	margin: 0 0 10px -2px;
}
.radio-list > label {
    display: block;
}

/* compare goods */
.compare-goods tr:first-child td.compare-info,
.compare-goods tr:first-child td.compare-item {
	background: no-repeat;
	border-bottom: 3px solid #ECEBEB;
}
.goods-data td.compare-info {
	width: 20%;
	vertical-align: middle;
	background: #F9F9F9;
}
.goods-data td.compare-info,
.goods-data td.compare-item {
	padding: 20px;
}
.compare-item {
	text-align: center;
}
.compare-item img {
	width: 100%;
	max-width: 100px;
}
.compare-item h3 {
	padding: 7px 0 4px;
	margin: 0;
}
.compare-item strong {
	color: #E84D1C;
    font-size: 21px;
    font-weight: normal;
}
.compare-item strong span {
    font-size: 17px;
}
.compare-goods .btn-primary {
	margin-right: 0;
}

.goods-data th h2 {
	font-size: 17px;
	padding: 8px 20px 0;
	margin: 0;
	font-weight: bold;
}

.goods-page .compare-item .btn-primary {
	color: #fff;
	float: none;
}
.goods-page .compare-item .btn-default {
	border: 1px solid #EDEDED;
	color: #A8AEB3;
	background: transparent;
	padding: 6px 13px;
	float: none;
	margin-top: 10px;
}
.goods-page .compare-item .btn-default:hover,
.goods-page .compare-item .btn-default:focus,
.goods-page .compare-item .btn-default:active {
	border: 1px solid #A8AEB3;
	color: #fff;
	background: #A8AEB3;
	padding: 6px 13px;
}

.ecommerce .sidebar {
	font: 15px  微軟正黑體,'PT Sans Narrow', sans-serif;
	color: #3E4D5C;
	text-transform: uppercase;
}
.ecommerce .sidebar .list-group-item {
    background: #fff;
    padding: 8px 10px 6px;
}

/* sidebar filter */
.sidebar-filter {
	background: #fff;
	padding-right:15px ;
	float: left;
    width: 100%;
}
.sidebar-filter h2 {
	font-size: 18px;
	margin: 0;
}
.sidebar-filter h3 {
	font: 600 14px  微軟正黑體,'Open Sans', sans-serif;
	/*text-transform: none;*/
	padding-top: 10px;
}
.sidebar-filter label {
	text-transform: none;
	font: 400 13px  微軟正黑體,'Open Sans', sans-serif;
}
/*.sidebar-filter #amount {
	font-weight: normal !important;
	color: #767F88 !important;
}*/
.sidebar-filter .ui-widget-content {

	background: #fff;
    border-radius: 6px !important;
    height: 11px !important;
    border: 1px solid #ddd;
}
.sidebar-filter .ui-widget-header {
	background-size: 16px 16px;
    background-image: -webkit-linear-gradient(top left,
 transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%,
 transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
    background-image: -moz-linear-gradient(top left,
 transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%,
 transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
    background-image: -o-linear-gradient(top left,
 transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%,
 transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
    background-image: linear-gradient(to bottom right,
 transparent, transparent 25%, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.3) 50%,
 transparent 50%, transparent 75%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0.3));
 background-color: #1ABC9C;
}
.ui-state-default,
.ui-state-default:hover {
	width: 10px !important;
    height: 10px !important;
    top: -4px !important;
	background: -webkit-radial-gradient(#1ABC9C 35%, #fff 30%)!important; /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#1ABC9C 35%, #fff 30%)!important; /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#1ABC9C 35%, #fff 30%)!important; /* For Fx 3.6 to 15 */
    background: radial-gradient(#1ABC9C 35%, #fff 30%)!important; /* Standard syntax (must be last) */
    border-radius: 50% !important;
    border: 1px solid #888 !important;
    padding: 8px;
}
.chk_box_lbl {
    /*float: left;wdj 2017-8-22*/
    width: 100%;
    padding-left: 4% !important;
    margin: -2px 0px;
}
.chk_box_lbl:hover input[type="checkbox"] + label:before {
     border-color: rgba(0,0,0,0.6);
}
.chk_box_lbl span {
   cursor:pointer;
}

.checkbox-list > label {
    display: block;
    font-weight: normal;
}

.chk_box_lbl input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label:before {
    border: 2px solid #b3b3b3;
    content: "";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
    margin-right: 10px;
	cursor:pointer;
}


input[type="checkbox"] + label:before:hover {
	border: 2px solid rgba(0,0,0,0.6);
}
input[type="checkbox"]:checked + label:before {
    background: #fff;
    color: #4a7d72;
    border-color: #4a7d72;
    content: "";
    text-align: center;
    background: url(/public/img/right.png);
    background-repeat: no-repeat;
    background-position: 0px;
}



#showshopping  input[type="checkbox"]:checked + label:before {
    background: #fff;
    color: #000;
    border-color: #000;
    content: "";
    text-align: center;
    background: url(/public/img/rightbk.jpg);
    background-repeat: no-repeat;
	background-position: 2px;
    background-size: 75%;
	width: 19px;
    height: 19px;
}

#showshopping  input[type="checkbox"] + label:before {
    border: 2px solid #b3b3b3;
    content: "";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 19px;
	height: 19px;
    margin-right: 10px;
	cursor:pointer;
}

#showshopping  input[type="checkbox"] + label:hover:before {
	  border: 2px solid #333333;
	  width: 19px;
	 height: 19px;
}



/* sidebar products */
.sidebar-products {
	background: #fff;
	/*padding: 15px 15px 20px;*/
}
.sidebar-products .item {
	width: 100%;
	overflow: hidden;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: solid 1px #eee;
}
.sidebar-products .item:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
}
/*.sidebar-products h2 {
	font-size: 18px;
	margin-bottom: 14px;
}*/
.sidebar-products h2 {
    font-size: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    font-weight: 600;
    font-family: 微軟正黑體,sans-serif;
	width: 100%;
}
.sidebar-products img {
	width: 65px;
	height: auto;
	float: left;
}
.sidebar-products .item  .sidepro{
	border: 1px solid #ddd;
    float:left;
	padding:4px;
}
.sidebar-products h3 {
	font: 300 13px  微軟正黑體,'Open Sans', sans-serif;
	/*text-transform: none;*/
	margin-left: 80px;
	margin-bottom: 2px;
}
.item h3 a {
    word-wrap: break-word;
    text-overflow: initial;
    white-space: pre-line;
    min-height: 40px;
    float: left;
    width: 100%;
}
.sidebar-products .price {
	color: #E84D1C !important;
    font: 16px 微軟正黑體,'PT Sans Narrow', sans-serif;
    float: left;
    padding: 4px;
    width: auto;
}
.blog_box {
    float: left;
    width: 100%;
	margin-bottom:10px;
}
.blog_img {
    float: left;
    width: 47%;
    margin-right: 5px;
}
.owl-buttons .owl-next:hover {
    background-color: #8d8d8d!important;
}
.owl-buttons .owl-prev:hover {
    background-color: #8d8d8d!important;
}


.blog_img img {
    width: 100%;
    min-height: 80px;
    object-fit: cover;
}
.blog_txt {
    float: left;
    width: 50%;
    text-align: justify;
}
.blog-cnt-hrd {
    float: left;
    width: 100%;
}
.blog-cnt-hrd h5 {
    font-size: 14px;
    font-weight: 600;
}
.blog_txt p {
    font-size: 11px;
    float: left;
	margin:0px;
}


/* BEGIN product page */
.product-page {
	background: #fff;
	padding: 22px;
	position: relative;
	margin-right: 10px;
}
#productp{
	padding: 0px;
	}
.product-main-image {
	margin-bottom: 20px;
	float:left;
	width:100%;
}
.product-main-image img {
	width: 100%;
}
.product-other-images {
	text-align: left; float:left;
    display: block;
    width: 100%;
}
.product-other-images .thumbnails {
    display: block;
    float: left;
    padding: 0 10px 0 0;
    /*max-width: 58px;
    width: calc(100% / 5);
    height: auto;*/
}
.product-other-images img {
	width: 100%;
	height: auto;
	margin: 0 12px 12px 0;
    max-width: 94px;
}
.product-other-images a:hover img,
.product-other-images a.active img {
	box-shadow: 0 0 0 2px #c7ced5;
}
.product-page h1 {
	border-bottom: 1px solid #f4f4f4;

}
.product-page h1 {
	margin-bottom: 0px!important;
}
.product-page i.fa.fa-trash-o {
    display: none;
}
.price-availability-block {
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 12px;
	margin-bottom: 17px;
}
.price-availability-block .price {
	float: left;
	font-family:  微軟正黑體,'PT Sans Narrow', sans-serif;
	color: #b52b28 !important;
}
.price-availability-block .price strong {
    font-size: 35px;
    font-weight: 600;
	color: #b52b28 !important;
}
.price-availability-block .price strong span {
	font-size: 25px;
}
.price-availability-block .price em {
	font-style: normal;
	color: #bbb;
	font-size: 17px;
}
.price-availability-block .price em span {
	font-size: 23px;
	text-decoration: line-through;
}
.price-availability-block .availability {
	float: right;
	color: #7b8a99;
}
.price-availability-block .availability strong {
	font-weight: normal;
	color: #3e4d5c;
}
.product-page .nav-tabs > li {
    margin-top: 1px;
}
.product-page-options {
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	padding: 20px 0;
	margin-bottom: 20px;
	width: 100%;
	overflow: hidden;
}
.product-page-options .pull-left {
	margin-right: 40px;
}
.product-page-options .pull-left:last-child {
	margin-right: 0;
}
.product-page-options label {
	font-weight: normal;
	text-transform: uppercase;
	color: #8e9ca8;
	font-family: "PT Sans Narrow", sans-serif;
	float: left;
	margin-right: 10px;
	padding-top: 2px;
}
.product-page-options select.input-sm {
	float: left;
	width: auto;
	height: 26px;
}

.product-page-cart {
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 20px;
	margin-bottom: 18px;
}
.product-quantity,
.product-quantity .input-group {
	width: 70px;
	float: left;
	margin-right: 20px;
	position: relative;
}
table .product-quantity,
table .product-quantity .input-group {
	margin-right: 0;
}
.product-page-cart .btn {
	padding: 7px 20px;
	font-size: 13px;
	height: 38px;
}
.product-quantity input.form-control {
	border: none;
	background: #edeff1 !important;
	font: 300 23px  微軟正黑體,'Open Sans', sans-serif;;
	color: #647484;
	height: 38px;
	width: 50px;
	text-align: center;
	padding: 5px;
}
.product-quantity input.form-control:focus {
	border: none;
}

.product-quantity .input-group-btn {
	position: static;
}
.product-quantity .btn {
  text-align: center;
  height: 18px !important;
  width: 18px;
  padding: 0 2px 0 1px !important;
  text-align: center;
  background: #edeff1;
  border-radius: 0 !important;
  font-size: 18px !important;
  line-height: 1 !important;
  color: #616b76;
  margin: 0 !important;
  position: absolute;
  right: 0;
}
.product-quantity .quantity-up {
  top: 0;
}
.product-quantity .quantity-down {
  bottom: 0;
}
.product-quantity .btn i {
	position: relative;
	top: -2px;
	left: 1px;
}

.product-page .review {
	color: #6e7a85;
	font-family:  微軟正黑體,'Open Sans', sans-serif;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 18px;
	margin-bottom: 20px;
	font-weight: 300;
}

.product-page .rateit {
	margin-right: 27px;
	position: relative;
	top: 2px;
}
.product-page .review a {
	color: #e6400c;
}
.product-page .social-icons li a {
	background-position: 0 -38px;
	opacity: 1;
}
/***********************/
.pi-img-wrapper img{
	border:0px solid #EFEFEF;
}
.sale-product{
	background-color: #EFEFEF;
	padding: 12px;
}
.fa-usd-box{
	  border-radius: 50%;
	  border:2px solid #dfba49;
	  display: inline-block;
	  border-radius: 50% !important;
	  width: 20px;
	  height: 20px;
	  text-align: center;
  }

.social_box a.btn.btn-social-icon.line_icon {
    width: 7%;
    padding: 0px;
}

.social_box a.btn.btn-social-icon.line_icon img{
		width:100%;
}
.social_box a{
		cursor:pointer;

}
.social_box span i.fa-google-plus {
    color: #d34836;
}
.social_box a.btn.btn-social-icon.btn-facebook {
    color: #3b5998;
}

.bbbuttons {
    padding: 0px;
}

#shopaddcart {
    background: #666  ;
    border: 1px solid #666;
    color: #fff;
    width: 48%;
}
#shopaddcart:hover {
    background: #fff  ;
    border: 1px solid #8d8d8d;
    color: #8d8d8d;
}
#shopadd {
    background: #fff !important;
    border: 1px solid #ccc;
    color: #8d8d8d;
    float: left;
    margin-right: 4%;
    width: 48%;
}
#shopadd:hover {
    border: 1px solid #333;
}
.social_box {
    margin: 20px 0px;
    padding: 0px;
	float:left;
}
.social_box a span {
    font-size: 22px;
}
.social_box a span {
    font-size: 22px;
}
.chkmdtxt{
	display:inline-block;
}
.secnd_1 {
    padding-left: 4px;
}
.row.chnge_pass .btn-black {
      background-color: #666666;
   }
/* product pop up */
.product-pop-up {
	padding: 0;
	overflow-x: hidden;
	background: inherit;
}
.product-pop-up .product-quantity, .product-pop-up .product-quantity .input-group {
	margin-right: 15px;
}
.product-pop-up .product-page-cart .btn {
	padding: 7px 5px;
}
.product-pop-up .product-page-cart a.btn {
	padding: 9px 5px 5px;
	display: inline-block;
}
.product-pop-up .btn-primary {
	margin-right: 10px;
}

.product-page-content {
	width: 100%;
	overflow: hidden;
	padding: 90px 13px 0;
}

.ecommerce .nav-tabs {
	text-transform: uppercase;
	font: 16px/1 "PT Sans Narrow", sans-serif;
}
.ecommerce .nav-tabs > li > a, .ecommerce .nav-tabs > li > a:hover, .ecommerce .nav-tabs > li > a:focus {
	padding: 5px 15px 3px;
	background: #edeff1;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #E6400C;
    color: #fff;
}
.product-page-content .tab-content {
	padding: 20px 15px;
	background: #fff;
}

/* datasheet tab */

#Information th, #Information td {
    text-align: center;
}
.datasheet tbody tr td:first-child {
    width: 20%;
}
.datasheet tbody tr td label{
	margin: 0px;
}
.product-page-content .datasheet {
	width: 100%;
	font-size: inherit;
}
.product-page-content .datasheet th {
	border-bottom: solid 2px #eee;
	padding-bottom: 5px;
	font-size: 15px;
}
.product-page-content .datasheet td {
	padding: 5px 0px 5px 10px;
	border-bottom: solid 1px #eee;
}
.datasheet td {
    color: #8d8d8d;
}
.all_tab_ch a {
    color: #8d8d8d;
}
.datasheet-features-type {
	font-weight: bold;
}
ul#myTab {
    border-color: #eee;
}
#myTab.nav-tabs>li.active>a {
    color: #fff !important;

}

ul#myTab li {
    border: 1px solid #eee;
    border-bottom: none;
}
ul#myTab li a {
    background: none;
}
ul#myTab li.active {
    background-color: #666666;

}

.qatext, .qatext2 {
    padding: 0px;
}
.qatext2 {
    margin-bottom:2%;
}
.qatitle {
	border-bottom:1px solid #eee;
	padding-bottom:5px;
	width:100%;
}
.qabuttons a.btn.btn-default.prd_btn_lft {
    margin-top: 1%;
    width: 10%;
}

.qatextarea {
	border-color:#eee;
}
.qamain {
    width: 100%;
}
.qabtnse {
    margin-top: 1.5%;
	color:#3e4d5c;
	padding:0px;
}
.qatextarea2 {
    border: 1px solid #ddd;
    padding: 24px;
}
span.qatextsm.pull-left.col-md-6 {
    padding: 10px;
    text-align: center;
}
.qatwobtns {
    margin-left: 19%;
	font-size:18px;
}

.qabuttred {
    background: upset;
    background-color: unset;
    border: 0px;
    background-color:#8d8d8d;
    padding: 10px;
    color: white;
	float:left;
	border-radius:5px!important;
}

/*****************************************/
.m_tab ul {
    position: relative;
    left: 62%;
    transform: translate(-50%);
}

/****************************************/
/* reviews tab */
.reviews-form {
	padding-top: 20px;
}
.reviews-form label {
	font-weight: normal;
}
.reviews-form input.form-control {
	color: #aaa;
}
.review-item {
	width: 100%;
	overflow: hidden;
	border-bottom: solid 1px #eee;
	padding: 0 5px 5px;
	margin: 0 -5px 20px;
}
.review-item-submitted {
	margin-bottom: 5px;
	position: relative;
}
.review-item-submitted strong,
.review-item-submitted em {
	display: block;
}
.review-item-submitted strong {
	margin-bottom: 3px;
}
.review-item-submitted em {
	font-style: normal;
	color: #bbb;
	font-size: 12px;
}
.review-item-submitted .rateit {
	position: absolute;
	top: 3px;
	right: 0;
}
/****************************************/
.prd_icon {
    position: absolute;
    top: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 13px;
    margin: 0 0 0px 0;
    border: 2px solid #ccc;
    border-radius: 50% !important;
    color: #8d8d8d;
    right: 5px;
}
.single_product .addwish .prd_icon:hover {
    background-color: #ededed!important;

}
.ewedngpg .prd_icon {
    position: absolute;
	top: -8px;
}

.col-md-6.col-sm-6.single_product {
    float: left;
    padding-top: 15px;
}
p.addwish_txt {
    background: #000;
    color: #fff;
    padding: 10px 7px;
    border-radius: 4px !important;
    position: absolute;
    top: -40px;
    width: 13%;
    text-align: center;
    display: none;
}
a.addwish:hover p.addwish_txt{
	display: block;
}
/* END product page */

/* list view sorting */
.row.list-view-sorting.clearfix {
    float: right;
    width: 100%;
    padding: 0px 15px 0px 0px;
	margin-bottom: 6%;
}

.list-view * {
	display: none !important;
}
.list-view-sorting .pull-right {
	margin-left: 30px;
}
.list-view-sorting label {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	color: #8e9ca8;
	font-family: "PT Sans Narrow", sans-serif;
	float: left;
	margin-right: 10px;
	position: relative;
	top: 2px;
}
.list-view-sorting select {
	float: left;
	width: 100px;
	height: 26px;
}
.list-view-sorting a {
	background: #fff;
	color: #E6400C;
	display: inline-block;
	padding: 4px 6px;
	line-height: 1;
	margin-right: -3px;
}

.content-form-page legend {
	font: 18px  微軟正黑體,'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	margin-bottom: 14px;
}

.margin0 {
    margin-left:-15px;
}
/***
Shop Stype Buttons
***/
.btn {
	text-transform: uppercase;
}

/****************Shop Catalog custom css start*******************/

.sidebar-filter h3 {
    border-bottom: 1px solid #333;
    padding-bottom: 5px;

}
.pull-right label.control-label {
    font-family: 微軟正黑體;
    padding: 0px;
    font-weight: 600;
    font-size: 14px;
    color: #000;
}
.shop-item.margin-bottom-30 {
    float: left;
    width: 100%;
}
.col-md-12.col-sm-12.filter-bar {
    border-bottom: 1px solid #f2f2f2;
    padding: 0px 0px 10px;
}
.product_items h2 {
    margin: 0px !important;
}
.sidebar-filter p {
    padding: 10px 0px 10px;
}
.sidebar-filter input#amount {
    color: #b69b91;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0px 0px;
}
.col-md-9.col-sm-7.catlog-rgt-content {
    /*border-left: 1px solid #f2f2f2;*/border-left: none;
}
div#cart_botton_r_drop_down {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0px;

}
.collapse.in#cart_botton_r_drop_down{
	height:auto;
}
.collapse#cart_botton_r_drop_down{
	height:22px;
}
div#cart_botton_r_drop_down2 {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0px;

}
.buttonshow_tabinner_box {
    padding: 10px;
    border: 1px solid #f3f3f3;

}
.buttonshow_tabinner_box h2 {
    float: left;
    width: 100%;
    font-size: 16px;
}
.buttonshow_tabinner_box p {
    float: left;
    width: 60%;
    font-size: 14px;
}
.buttonshow_tabinner_box span {
    float: right;
    width: 36%;
    font-size: 16px;
    text-align: right;
    color: #C30;
    font-weight: 600;
}
/*************************************/
.breadcrumb li a {
    font-weight: 600;
}
.categories-menu {
    float: left;
    width: 100%;
}
ul.categories_list {
    float: left;
    width: 100%;

}
div#slider-range {
    margin-left: 8px;
}
.categories_list li {
    color: #777;
    list-style: none;
    font-size: 14px;
    padding: 5px 0px;
    border-bottom: 1px solid #f2f2f2;
	cursor: pointer;
}
.categories_list li:hover{
	color: #8d8d8d;
}
ul.custow li {
    padding: 0px;
}
.categories_list li.categories_list_sub_li:before {
    content: "\f106";
    font-family: FontAwesome;
    position: absolute;
    font-size: 17px;
    right: 30px;
    color: #999;
}
li.categories_list_sub_li.collapsed:before {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    font-size: 17px;
    right: 30px;
    color: #999;
}
ul#side_menu1 li {
    border-bottom: none;
}
ul#side_menu2 li {
    border-bottom: none;
}
#side_menu1 {
    padding: 0px 0px 0px 10px;
}
#side_menu2 {
    padding: 0px 0px 0px 10px;
}
#side_menu1 li a{
    color: #777;
    list-style: none;
    font-size: 14px;
    padding: 5px 0px;
    cursor: pointer;
    font-weight: 300;
}
#side_menu2 li a{
    color: #777;
    list-style: none;
    font-size: 14px;
    padding: 5px 0px;
    cursor: pointer;
    font-weight: 300;
}
h3.filter-txt.collapsed {
    float: left;
    width: 100%;
    position: relative;
}
/*
h3.filter-txt:after {
    content: "\02796";
    font-family: FontAwesome;
    position: absolute;
    font-size: 10px;
    right: 33px;
    color: #999;
}*/

h3 i#icon-filter {
    float: right;
	color:#666666;
	cursor:pointer;
}
#icon-filter3{
	display:none;
	float: right;
	color:#666666;
	cursor:pointer;
}
/*
h3.filter-txt.collapsed:after {
    content: "\02795";
    font-family: FontAwesome;
    position: absolute;
    font-size: 10px;
    right: 2px;
    color: #999;
}*/
.inner_filter2 {
    float: left;
    width: 100%;
}
.menu2_chk_box h4 {
    font-size: 14px;
    color: #404040;
    margin: 10px 0px;
    /*padding-left: 4%;*/
}
.inner_filter2 p label {
	font-size: 14px;
    color: #404040;

}
.menu2_chk_box {
    float: left;
    width: 100%;
}
label.chk_box_lbl {
    float: left;
    width: 100%;
    padding-left: 5%;
    margin-bottom: 10px;
	font-size: 15px;
    color: #404040;
	cursor: pointer;
}
.inner_filter2 p {
    float: left;
    width: 100%;
    /*padding-left: 4%;*/
}
div#slider-range {
    float: left;
    width: 100%;
}
/*
.price {
    color: #666 !important;
}*/
.categories_list_sub_lastli a {
    color: #8d8d8d;
}
.sidebar-filter button.btn.btn-default {
    background: #666;
    color: #fff;
    border: 1px solid #666;
    width: 100%;
}
.sidebar-filter button.btn.btn-default:hover{
    background: #86cbc2;
    color: #fff;
    border: 1px solid #86cbc2;
    width: 100%;
}
.shop_itm_summ  {
    padding: 5px 0px !important;
}
.thumbnail.noborder.nopadding {
   /* border: 1px solid #f2f2f2 !important;*/
}

.product_items h2 {
    font-weight: 600;
}
.product-item img {
    object-fit: cover;
	width: 100%;
	/*height: 175px;*/
}
h2.owl-featured.noborder.margin-top-10 {
    padding: 0px;
}
.shop-item-summary.shop_itm_summ {
    float: left;
    width: 100%;
}
div.shop-item-summary h2 a {
    float: left;
    width: 100%;
    text-align: left;
    color: #666;
    font-weight: 300;
    padding-top:5px;
	font-size: 15px;
}
div.shop-item-summary h2 a:hover {
	color: #000 !important;
}
.pi-img-wrapper {
    float: left;
    width: 100%;
}
h3.item-name {
    float: left;
    width: 100%;
    margin: 5px 0px;
    color: #b52b28;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.product-item-btn-box .pi-textsp a {
    width: 100%;
    float: left;
}
.product-item-btn-box .pi-textsp {
    float: left;
}
.product-item a {
    color: #8d8d8d;
}
/*.product_icon i.fa.fa-heart {
    padding-top: 15px;
}*/
a.product_icon.footer_icon {
    width: 36px;
    height: 36px;
    position: absolute;
    color: black;
    background: white;
    border: 2px solid #adadad;
    padding: 8px 9px;
    top: 6px;
    right: 6px;
    border-radius: 50px!important;
	display:none;
}
/*.product-item:hover a.product_icon.footer_icon {
	display:block;
}*/
.product-item .pi-img-wrapper:hover a.product_icon.footer_icon {display:block;}/*商品分類、商品內頁*/
.pi-img-wrapper:hover ~.product-item-btn-box .product_icon{display:block;}/*Search頁*/
.display_block {
    display: block;
}
.go_left{
	float:left;
}
.go_right{
	float:right;
}
.tbnew1tb {
    border: 1px solid #ddd;
}
.padding13{
	padding:13px;
}
.W100{
	width:100%;
	float:left;
	 display: block;
}
.W20{
	width:20%;
	float:left;
	 display: block;
}
.W15{
	width:15%;
	float:left;
	 display: block;
}
.margin_left20 {
    margin-left: 20%;
}
.margin_left2 {
    margin-left: 2%;
	float:left;
}
.margin_bottom2{
	margin-bottom:2%;
}
.W70{
	width:70%;
	float:left;
	 display: block;
}
.W50{
	width:50%;
	float:left;
	 display: block;
}
.W10{
	width:10%;
}

.cursor_pointer{
		cursor:pointer;
}
td.marginlb {
    margin-bottom: 10px;
    margin-left: 2%;
}

.t_align_left{
	text-align:left;
}
.t_align_right{
	text-align:right;
}
.golden_f{
	color:#8d8d8d;
}
 .margin_left5p{
    margin-left: 5%;
}
.ttl2{
    padding: 13px;
    float: left;
    width: 100%;

	margin-bottom: 2%;
}
.W40 {
    width: 40%;
    float: left;
}
.shop_ctnew a.product_icon {
    width: 40px;
    height: 40px;
    position: absolute;
    color: black;
    background: white;
    border:2px solid #adadad;
    padding: 10px;
    top: 6px;
    right: 34px;
    border-radius: 50px!important;
	display:none;
}
.shop_ctnew a.product_icon i.fa.fa-heart {

    margin: auto;
    display: block;
    width: 14px;
    vertical-align: middle;
    margin-top: 4px;
}
.shop_ctnew  .product-item:hover .shop_ctnew a.product_icon {
		display:block;
}
.shop_ctnew a.product_icon:hover {
    color: unset !important;
	background-color: #ededed;
    text-decoration: none;
}
#shop_catepg .product-item .pi-img-wrapper a {
      float: left;
    width: 100%;/*原185px;211.5px*/
    /*height: 211.5px;*/
	float: left;
    width: 100%;
    /**/
    padding-top: 100%;
    position: relative;
}
#shop_catepg .product-item .pi-img-wrapper a  img{
    /*float: left;
    width: 100%;
	height: 100%;*/
	float: left;
    width: 100%;
    position: absolute;
    top: 0;
 }

.glyphicon.glyphicon-trash, .glyphicon.glyphicon-envelope {
    padding:  0px;
	float:left;
	width: 22px;
	cursor:pointer;
}
.product-page thead {
	background:unset;
	background-color:unset;
	background-color:#fff;
}
.dltmessg{
    display: inline-block;
    vertical-align: middle;
    float: right;
    width: 100%;
	padding: 10px 10px 10px 0px;
}
.product-page input#select_all {
    margin-left: 9px;
    float: left;
    margin-right: 6px;
	display:none;
}
.unread .mail-checkbox {
    display: none;
}
.unread td.inbox-small-cells {
    padding-left: 0px!important;
}
.table-striped tbody tr:nth-child(odd) {
    background-color: #fff;
}
.bgwhite{
	background-color:white;
}
td.view-message a {
    border-bottom: 1px solid red;
}
.actions  a.nibtndlt {
    color: black;
}
.product-page i.fa.fa-list {
    font-size: 20px;
}
.product-page a.btn.nibtnnoti {
    padding-left: 5px;
}
.actions  .nibtnnoti{
    color: black;
}
.product-page  .portlet.light {
    padding: 0px 0px 15px 0px;

}
.portlet.light .portlet-body {
    padding-top: 0px!important;
}
.product-item-btn-box .pi-price {
    float: left;
    width: 100%;
    padding: 10px 0px;
    font-size: 26px;
    color: #b52b28;
	font-weight: 600;
}
.pi-price span {
    font-size: 16px;
    font-weight: 300;
}
/*.prd_btn_box {
    float: left;
    width: 100%;
}*/
.prd_btn_box {
    width: 100%;
    height:51px;
	float:left;
}
.pbbox {
    float: left;
    width: 97%;
    margin-left: 2%;
}
.owl-item .add2cart, span.dpspan {
    margin-right: 3%;
}
 /*
.product-main-image .zoomImg{
    width: 1000px!important;
    height: 1000px!important;
	cursor: zoom-in;
 } */

 .product-main-image .zoomImg {
    width: 700px!important;
    height: 700px!important;
    cursor: zoom-in;
    /* float: right; */
    left: 261px!important;
    position: absolute;
    left: 500px!important;
    z-index: 999;
	display:none;
}
.product-main-image{
	overflow:unset!important;
}
.product-main-image a.cloud-zoom {
    float: left;
    width: 400px;
}
/*a.btn.btn-default.prd_btn_lft {
    float: left;
    width: 48%;
    padding: 3px 0px;
    background: #8d8d8d;
    color: #fff;
    margin-right: 6px;
    margin-bottom: 15px;
}
a.btn.btn-default.prd_btn_rgt {
    float: left;
    width: 48%;
    padding: 3px 0px;
    background: #fff;
    color: #333;
    margin-bottom: 15px;
}*/
.slider_data a.btn.btn-default.prd_btn_rgt {
    width: 46%;
	letter-spacing: 0px;
}
.slider_data .prd_btn_lft {
    width: 46%;
	letter-spacing: 0px;
}
a.btn.btn-default.prd_btn_rgt {
    float: right;
    width: 50%;
    padding: 3px 0px;
    background: #666;
    color: #fff;
    margin-bottom: 15px;
}
.prd_btn_box a.btn.btn-default.prd_btn_rgt {
    padding:7px 0px;
}
.prd_btn_box a.btn.btn-default.prd_btn_rgt:hover {
    color: #8d8d8d!important;
	background-color:white!important;
	border-color:#8d8d8d;
}


/*
.pi-price:hover {
	color: #000;
}*/
.Quantity-box {
    float: left;
    width: 25%;
    padding: 0px 0px;
	min-height: 30px;
}
.Quantity-box select {
    width: 100%;
    padding: 5px 3px;
}
.strk_th {
    display: inline-block;
    float: left;
    font: 18px  微軟正黑體,'PT Sans Narrow', sans-serif;
    text-decoration: line-through;
	margin-left: 6%;
    margin-bottom: 4%;
}

#page_itemprodct .strk_th{
	margin-left: 0px;
}
#page_itemprodct .product-item h3 {
    display: block;
    float: left;
    height: 35px;
    overflow: hidden;
    width: 100%;
}
.product-item .add2cart {
    float: right;
    color: #fff;
    border: 1px #666 solid;
    padding: 4px 6px;
    background: #666;
    width: 60%;
    font-size: 12px;
}
.content-page.faq_cnt {
    padding: 0px 20px;
}
.prod_bottom_img {
    float: left;
    width: 100%;
}
.prod_bottom_img img{
    width: 100%;
}
h4.bfont.text-left.margin-top-20.size-16 {
    min-height: 36px;
}
.sdul_li:hover a.gid113.btn.btn-default.add-wishlist.href-reset{
	display:block;
}
.news_post_items_btn {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
div#carousel_container {
    float: right;
}
#left_scroll i, #right_scroll i, #left_scrolls i, #right_scrolls i, #left_scrollss i, #right_scrollss i {
    cursor: pointer;
    background: #f2f2f2;
    font-size: 24px;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 8px;
    position: static;
    border-radius: 26px !important;
    padding: 0px 0px 0px 0px;
    color: #8d8d8d;
    text-align: center;
	}
#left_scroll i:hover, #right_scroll i:hover, #left_scrolls i:hover, #right_scrolls i:hover, #left_scrollss i:hover, #right_scrollss i:hover {
	color: #fff;
	background: #8d8d8d;
}
.product-other-images a.thumb_cover {
    /*float: left;
    width: 23%;*/width: 100%;
	margin-right:10px;
}
.easyzoom-flyout {
    width: 600px!important;
}

.product-other-images a:nth-child(4) {
       	margin-right:0px;
}
.redtxt{
	color:#b52b28!important;
	min-height: 40px;
    float: left;
    width: 100%;
}
.redtxt2 {
    color:#c70003;
}
.btn.btn-primary {
    background: #666;
}
td a.btn.btn-primary {
	border:1px solid #ddd;
}
td a.btn.btn-primary:hover {
    color: #8d8d8d!important;
    background-color: white!important;
    border:1px solid #8d8d8d;
}
.pricetxt {
    color: #c70003;
    font-size: 26px;
    padding-right: 10px;
}
/*
a.lightbox {
    color: #666;
}*/

.box1_sidecat,.box2_sidecat,.box3_sidecat{
	 padding:4px 0px;
	 margin-bottom:10%;
}
.fontwt400{
	font-weight:400;
}
.box1_sidecat{
	margin-top:10%;
}
.box1_sidecat .tag, .box3_sidecat .tag {
    position: relative;
    display: inline-block;
    margin: 0 6px 3px 0;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.box1_sidecat .tag span.txt {
    border: 1px solid #e3e3e3;
    color: #666;
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 4px 9px;
    text-transform: uppercase;
    float: left;
}


.circle{
	border-radius:50px!important;
}
.box3_sidecat .tag span.txt {
    border: 1px solid #e3e3e3;
    color: #666;
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 4px 9px;
    text-transform: uppercase;
    float: left;
}
p.pgordlist {
    width: 50%;
    margin: 0px;
    display: inline-block;
    float: left;
}
/*********************************************************/
label.col-lg-3.control-label.captcha_title {
    text-align: left;
    width: auto;
    padding-right: 0px;
}
.col-lg-9.captcha_input_box {
    padding-right: 0px;
}
.size-16.margin-bottom-10.text-left.s_in_ttl_box {
    float: left;
    width: 100%;
}
.signin_btm_box ul.margin-bottom-0 {
    float: left;
    width: 100%;
}
.signin_btm_box .divider.margin-top-20.margin-bottom-20 {
    float: left;
    width: 100%;
}


/**************************************************************/




/*  about us css START*/
.aboutus_contant_gray {
    background: #f5f5f5;
    padding: 25px;
	margin-top:2%;
}
#section-aboutus p{
	margin:0px;
}
.aboutus_contant {
    margin-bottom: 2%;
	margin-right:1%;
}

#section-aboutus h4 {
    border-bottom: 2px solid #f5f5f5;
    padding: 10px;
	margin-right:1%;

}
#section-aboutus {
    margin-bottom: 5%;
}
/*  about us css END*/

/*  contact us css start*/
#contact_us_main {
    float: left;
    margin-top: 6%;
}
#section-contactus {
    margin-bottom: 5%;

}
#section-contactus .cnform_group {
    padding: 3%;
}
#section-contactus .cnform_verfy {
    padding: 10px 0px;
}
#section-contactus .cnipntext, #cnform_groupdrp ,#section-contactus .cnform_txtarea {
    padding: 5px 0px;
	 border: 1px solid #eee;
}

#section-contactus  h4, #section-contactus  span.glyphicon.glyphicon-refresh{
    color: #8d8d8d ;
}
#section-contactus  .cnsubmit{
    border: none;
    background: black;
    color: white;
    padding: 6px;
    border-radius: 4px!important;

}
#section-contactus  .glyphicon.glyphicon-refresh {
    font-weight: 700;
	cursor:pointer;
}

/*  contact us css end*/

/* forget password css start*/
#section-forgetpass .cnform_group {
    margin-bottom: 4%;
}
#section-forgetpass .cnsubmit {
    background-color: unset;
    border: none;
	margin-left: 34%;
    background: black;
    color: white;
    padding: 5px;
    border-radius: 6px!important;
}
#section-forgetpass .cnipntext {
    border: 1px solid #eee;
    padding: 5px;
}
#section-forgetpass {
    margin-bottom: 5%;
}
#section-forgetpass .oldacceml{
    font-weight: 700;
    color: gray;
}
#section-forgetpass  #contact_us_main {
    float: left;
    margin-top: 2%;
}
#onetabcont {
    width: 100%;
    float: left;
}
.onetabback   ul li{
	list-style:none;
	padding:6px;
	border-bottom:1px solid #ddd;
	float: left;
    width: 100%;

}
.onetabback  ul {
	border:1px solid #ddd;
	padding:0px;
    float: left;
    width: 100%;


}
.onetabback ul li:first-child{
	background-color:#666666;
	color:white;
	vertical-align:middle;
	float:left;
	width:100%;
}
.onetabback   ul li:last-child{
   border-bottom:0px;
}
.ldtabbox1 th{
	text-align:center;
	background: #666666;
    padding: 6px;
    color: white;
}
.ldtabbox1 {
	border:1px solid #ddd;
}
.ldtabbox1 tr {
	border-bottom:1px solid #ddd;
}

#ldnewlist  li {
	list-style:none;
	padding:6px;
}
.ldtabbox1 td{
    padding: 6px;
 }
.fontred{
	 color:red;
}
p.pgord_arrow {
    height: 26px;
    margin: 0px 7px 0px 0px;
    width: 26px;
    padding: 3px 0px 0px 6px;
    background: white;
    color: black;
}
span.glyphicon.glyphicon-arrow-right{
    width: 20px;
    height: 20px;
    border-radius: 50px!important;
    background: black;
    color: white;
    padding: 3px 1px;
	margin: -2px -3px;
}
span.pg_listhd {
    margin-top: 0.5%;
    float: left;
}
.ldetailtop ul li{
	list-style: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin-right: 10%;
	color:black;
}
.ldetailtop ul li:last-child{
	  margin-right: 1%;
	  margin-top:0px;
}
.ldetailtop ul {
    margin: 0px;
    padding: 8px;
	background-color:#d9d9d9;
}
.ldetailtop  {
    margin-bottom:1%;
 }
.pgord_topbtn {
    background: unset;
    border: 0px;
    background-color: white;
    padding: 5px 10px;
}
.glyphicon.glyphicon-list-alt {
    color: #595757;
    padding: 4px 3px 0px 0px;
    font-size: 14px;
    float: left;
}

/* page_order css start*/
.display_none{
	display:none;
}
.border_left {
    border-left: 1px solid rgba(100,100,100,0.1) !important;
}
table.responsive {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table.responsive tr {
    border: 1px solid #ddd;
}
table.responsive th {
    background-color: #F3F3F3;
}
table.responsive th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
table.responsive th, table.responsive td {
    padding: 5px;
    text-align: center;
}
select#tddrop {
    height: 30px;
}
#showshopping input.fdcheck {
    display: none;
}
.pageview_spec {
    margin-bottom: 5%;
    margin-top: 4%;
}
.pageview_spec p {
    width: 20%;
    margin-left: 22%;
}
#showshopping  .graycol {
    color: #666!important;
}
.pageview_spec #drpsrch1{
    width:20%;
}
td.p9v {
    text-align: left;
}
.shopping_present {
    padding: 10px;
    border: 1px solid rgba(100,100,100,0.1);
}
h4.frm-hdr-txt {
    color: #ff0000;
    text-align: justify;
    line-height: 26px;
}
textarea#field11 {
    min-height: 90px;
}
.bbtnpg{
    float: left;
    margin: 0px;
    text-align: center;
    width: 45%;
}
.form-group button.btn.btn-default {
    background: #000;
    color: #fff;
    border: none;
    width: 40%;
}
.page_orlast_box {
    text-align: center;
    padding: 10px;
    background-color: #F3F3F3;
	display:none;
	border: 1px solid #eee;
}
.page_orlast_box thead th {
	text-align:center;
}

.page_orlast_box thead th, .page_orlast_box tbody td{
	padding:10px;
	border: 1px solid #eee;
}
.page_orlast_box .last_tb_button {
    margin-top: 2%;
}
.page_ord_tbody .tblastcheck{
	display:none;
}
.page_orlast_box .lastcoltab {
    background-color: unset;
     background: white;
}
.page_orlast_box .last_tb_button {
    background: unset;
    background-color: #8d8d8d;
    border: none;
    width: 8%;
    padding: 1%;
	border: 1px solid #eee;
	color: #fff;
}
.page_orlast_box .last_tb_button:hover {
	color: #8d8d8d;
    background-color: white;
    border: 1px solid #8d8d8d;
}
.pgord_label,.pgord_radiobtn  {
    cursor: pointer;
}


/* page_order css end*/

/*kefu list page  css start*/
#kefu_list_main .top_btns:last-child a {
	background-color:#edeff1;
	color:black;
}

.kefu_list_table table th,.kefu_list_table table td {
    padding: 10px 2px;
    text-align: center;
}
.kefu_list_table tr {
    border-bottom: 1px solid #ddd;
}

.kefu_list_table table {
    border: 1px solid #ddd;
    text-align: center;
    margin-bottom: 1%;
}

.kefutbody tr td:nth-child(5) {
    color:#8d8d8d;
}
.kefutbody tr:nth-child(even) {background: #FFF }
.kefutbody tr:nth-child(odd) {background:#f9f9f9 }

/****************************/
li.sub_d_down.dpmenutop {
    display: block;
}
/****************************/
.desktop_view_sidebar{
	display:block;
}
.mobile_view_sidebar{
	display:none;
}


.buttonshow_tab.collapse{
	display:none;
}
.buttonshow_tab.collapse.in{
	display:block;
}
.uhea2 .radio {
    margin: 10px 0px 0px;
}
td.margin_bottom2 strong {
    margin-bottom: 10px;
    float: left;
}
.uhea2 .radio span {
    font-size: 13px;
}
.tab-content {
    background: rgba(255, 255, 255, 0);
}
.uhea2 span.go_right.closetb.cursor_pointer {
    display: none;
}
td.uhea2 {
    padding-bottom: 15px;
}
.web_view_tab1 {
    width: 15%;
}
.web_view_txt {
    padding-left: 11%;
	width: 100%;
}
label.sphov {
    width: 100%;
}
.faq_web_view{
	display:block;
}
.faq_mob_view{
	display:none;
}
.row.item_lft_row {
    padding-bottom: 5px;
}
/****************Shop Catalog custom css end********************/
@media (min-width: 767px) {
.slider_itm .owl-item {
    width: 187px !important;
    float: left;
}
}
@media (min-width: 767px) and (max-width: 769px)  {
.col-sm-3.hdr-logo {
    width: 100%;
}
}
@media (max-width: 768px) {

.sdul .sdul_li {
    padding-left: 0px;
}
/******/
  .all_tab_ch {
    display: block;
	width:100%;
}
.datasheet tbody tr td:first-child {
    width: 100%;
    display: block;
	text-align:center;
}

 .all_tab_ch  label {
	 width: 45%;
	 text-align: left;
}
.product-page-content ul#myTab li a{
	padding:2px;

 }
 .product-page-content ul#myTab li {
	margin-right:1%;
	width:24%;
 }
 .product-page-content ul#myTab li:last-child {
	margin-right:0px;
}
.social_box a.btn.btn-social-icon.line_icon {
    width: 12%;
    padding: 0px;
}
 .product-other-images a.thumb_cover {
    /*float: left;
    width: 23%;
	margin-right:2.6%;*/
}
.product-other-images a:nth-child(4) {
       	margin-right:0px;
}
.ecommerce h1 {
    font-size: 18px;
}
.single_product  h1 {
    font-size: 15px;
	float:left;
}
.price-availability-block .price strong {
    font-size: 31px;
  }
 .p_main{
	  padding:0px;
 }
 .p_main .product-page {
    padding: 0px 15px;
}
.p_main .product-page-content {
    padding: 10px 13px 0;
}

/*.p_main .row {
    float: left;
}*/

.p_main .easyzoom {
    padding-right: 0px;
}
ul.breadcrumb.prd_breadcrumb {
    margin-top: 105px;
}
.mob_margin {
    margin: 0px !important;
}
 .owl-buttons {
   right: -9px;
}
.p_main_outer {
    float: left;
    width: 100%;
}
 .product-page{
	  margin:0px;
	 /* padding: 0px;*/
 }
 .col-xs-12.col-sm-12.col-md-12.login_windows {
    padding: 0px;
}


.qamain textarea.qatextarea.col-md-12.pull-left {
    float: left;
    width: 100%;
}
.qamain .qabuttons {
    float: left;
    width: 100%;
    margin: 10px 0px;
}
.qamain .qabuttons a.btn.btn-default.prd_btn_lft {
    margin-top: 1%;
    width: 100%;
}
.row.margin-bottom-40.rel_item {
    float: left;
    width: 100%;
	margin-left: 0px;
}
.rel_item div#page_itemprodct {
    float: left;
}
a.fblogo {
    display: none;
}
/*.top-slider_cnt2 .container {
    padding: 0px 5px;
}*/
.blog-posts .col-md-8.col-sm-8 {
    margin-left: 0px !important;
    padding-left: 0px;
}

.outer_s_frm {
    margin: 0 auto;
    width: 100% !important;
}
.s_input {
    margin-left: 0px !important;
}
.outer_s_frm.col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1 {
    padding: 0px;
}
 .product-page-content ul#myTab li {
	border-bottom: 1px solid #ddd;
	text-align: center;
 }
.product-page-content .nav-tabs {
    border-bottom: none;
}
.owl-item .product-item {
    width: 100%;
}
.product-page-content i.fa.fa-times, .product-page-content i.fa.fa-check {
    margin-right: 8%;
}
#shop span.label.label-warning {
    width: 100%;
    float: left;
	padding:10px;
}
.chkbtext{
    width: 64.666667%;
}
.tab-pane p img {
	width:100%;
}
.tab-pane p {
	overflow:hidden;
}
/***********/
td.span_hidden.mob_td1 {
    display: none;
}
/*********************shopview css*************************/
.breadcrumb {
    /*margin-top: 40%;*/
}

div#showshopping {
    float: left;
    width: 100%;
    margin-top:0px;
}
.shopping_steps {
   /*width: 270px !important;*/
   width:90% !important;
    height: auto !important ;
	}

.shopping_steps .step_over {
    /* width: 44px !important;*/
    width:calc((100% / 3) - 30px) !important;
    margin-bottom: 25%;
    height: auto !important;
    line-height: unset !important;
}
.shopping_steps .step_number {
    /*left: 25% !important;*/
	left: 50% !important;
	top: 55px !important;
	margin-left:-10px !important;
}
.shopping_steps .step_arrow {
    width: 15px;
    float: left;
    position: relative;
    top: 55px;
}
.shopping_steps .step_normal {
   /* width: 44px !important;*/
    width:calc((100% / 3) - 30px) !important;
    margin-bottom: 25%;
    height: auto !important;
    line-height: unset !important;
}
.shopping_steps .step_normal_number {
    /*left: 25% !important;*/
	left: 50% !important;
	top: 55px !important;
	margin-left:-10px !important;
}
table.table-hover.responsive.mob_tab {
    /*float: left;*/
    width: 100%;
}
table.table-hover.responsive.mob_tab th {
    display: none;
}
tbody.mob_tbody {
    float: left;
    width: 100%;
	position: relative;
}
td.mob_td1{
    float: left;
    width: 100%;
    margin: 10px 0px;
	text-align: left !important;
	border-bottom: 1px dotted #ccc;
}
td.mob_td2 {
    /*width: 100%;
    margin: 10px 0px;*/
	float: left;
    width: calc(25% + 10px);
    border-bottom: 1px dotted #ccc;
    /*border-right: 1px dotted #ccc;*/
    margin: 0;
    padding: 10px !important;
}
td.mob_td2:before {
    content: "圖片";
    float: left;
    width: 3em;
	font-size: 16px;
    text-align: left;
	display:none;
}
.mob_td2 a {
    float: left;
    width: 50%;
}
.mob_td2 a {
    float: right;
    /*width: 25%;*/
	width: 100%;
}
.mob_td2 img {
    width: 100%;
}
td.mob_td3 {
    float: left;
    /*width: 100%;*/
    margin: 0px 0px;
	border-bottom: 1px dotted #ccc;
	width: calc(75% - 10px);
}
td.mob_td3:before {
	content: attr(data-label);
    float: left;
	font-size: 16px;
    text-align: left;
	display:none;
}
.mob_td3 a {
    font-size: 14px;
    padding: 0px 0px 0px;
    /*float: right;
    text-align: right;*/
    text-align: left;
	display: block;
}
.mob_td3 a.various {
    text-align: right;
}
.mob_td3 select#tddrop {
    float: left;
    margin: 5px 0px;
    width: auto;
}
td.mob_td8{
    float: left;
    width: 100%;
    margin: 0px 0px;
	border-bottom: 1px dotted #ccc;
}
td.mob_td8 select#tddrop {
    float: right;
	width:50%;
}
td.mob_td8:before {
	content: attr(data-label);
    float: left;
	font-size: 16px;
    text-align: right;
    width: 50%;
}
td.drpvalue.mob_td4 {
    float: left;
    width: 100%;
    margin: 0px 0px;
    /*text-align: center;*/
	text-align: right;
	border-bottom: 1px dotted #ccc;
	padding: 5px !important;
}
td.mob_td4:before {
	content: attr(data-label);
    float: left;
    font-size: 16px;
    text-align: right;
    width: 50%;
}
td.mob_td4 input.numinp {
    float: right;
    width: auto;
}
td.mob_td5 {
    float: left;
    width: 100%;
    margin: 0px 0px;
	border-bottom: 1px dotted #ccc;
	text-align: right !important;
}
td.mob_td5:before {
	content: attr(data-label);
    float: left;
    width: 50%;
    font-size: 16px;
    text-align: right;
}
.mob_td5 span {
    /*float: right;*/
    width: auto;
}
td.mob_td6 {
    float: left;
    width: 100%;
    margin: 0px 0px;
	border-bottom: 1px dotted #ccc;
}

td.mob_td6:before {
    content: attr(data-label);
    float: left;
    width: 50%;
	font-size: 16px;
	text-align: left;
}
.mob_td6 a {
    float: right;
    width: auto;
}
td.mob_td7 {
    float: left;
    width: 100%;
    margin: 0px 0px;
	border-bottom: 1px dotted #ccc;
}
td.mob_td7:before {
	content: attr(data-label);
    float: left;
    width: 4em;
	font-size: 16px;
	text-align: left;
}
.mob_td7 a {
    float: right;
    width: auto;
}
#showshopping .mob_td7 .important-txt.graycol,.mob_td6 .important-txt{
    color: #fff !important;
}
td.mob_td9 {
    float: left;
    width: 100%;
    margin: 0px 0px;
	border-bottom: 1px dotted #ccc;
	text-align: right !important;
}
td.mob_td9:before {
	content: attr(data-label);
    float: left;
    width: 50%;
	font-size: 16px;
	text-align: right;
}
.mob_td9 a {
    float: right;
    width: auto;
}
.mob_td9 label.sphov_credit {
    width: auto;
}
td.mob_td10 {
    float: left;
    width: 100%;
    margin: 0px 0px;
	border-bottom: 1px dotted #ccc;
	text-align: right !important;
}
td.mob_td10:before {
	content: attr(data-label);
    float: left;
    width: 50%;
	font-size: 16px;
	text-align: right;
}
.mob_td10 a {
    float: right;
    width: auto;
}
table.tbnew1tb.go_left.red_bonus {
    width: 100%;
}
div#cart_botton_r_drop_down {
    width: 100%;
}
.uhea .nav li {
    width: 100%;
    cursor: pointer;
    margin: 5px 0px;
}
input#button4 {
 width: 50%;
}
input#button5 {
    width: 50%;
}
tr.addon_from_rowid.sm-flex,.sm-flex {
    display: flex;
    flex-wrap: wrap;
	position:relative;
	/* width: calc(100% - 25px);
    margin-left: 25px; */
    padding-left: 25px;
}
tr.sm-flex.notrash {
    padding-left: 0;
}
tr.addon_from_rowid.sm-flex>td.mob_td6 {
    width: 50%;
    order: 8;
    background-color: #999;
    color: #fff;
}
tr.addon_from_rowid.sm-flex>td.mob_td7 {
    width: 50%;
    background-color: darkorange;
    order: 7;
    color: #fff;
}
tr.addon_from_rowid.sm-flex>td.mob_td1 {
    position: absolute;
    left: 3px;
    border: none;
    width: 23px;
    padding: 0;
    margin: 0;
    height: 100%;
    display: block;
    border-right: 1px solid #ccc;
}
tr.addon_from_rowid.sm-flex>td.mob_td1 label.sphov {
    top: 50%;
    position: absolute;
    margin-top: -12.5px;
}
.chk_box_lbl.sm-chk {
    padding-left: 4px !important;
}
.portlet-title>div {
    width: 100% !important;
    float: none;
    padding: 0 !important;
}
.portlet-title>div>div {
    line-height: 1.5em;
    width: 100%;
    padding: 0;
}
.portlet-title>div>div:nth-last-of-type(1),.portlet-title>div>div:nth-last-of-type(2){width:49%;}
/**************/
.mob_tbody tr {
    float: left;
    width: 100%;
}
td.mob_td4_1 {
    float: left;
    width: 100%;
	border-bottom: 1px dotted #ccc;
	text-align: right !important;
}
td.mob_td4_1:before {
	content: attr(data-label);
    float: left;
    width: 50%;
	font-size: 16px;
	text-align: left;
}
td.mob_td4_1 span {
    float: right;
    width: auto;
}
td.mob_td5_1 {
    float: left;
    width: 100%;
	border-bottom: 1px dotted #ccc;
}
td.mob_td5_1:before {
	content: attr(data-label);
    float: left;
    width: 50%;
	font-size: 16px;
	text-align: left;
}
td.mob_td5_1 span {
    float: right;
    width: auto;
}
td.shopping_border.shp-rdo_box .tab-content {
    border-bottom: none !important;
}
.step_arrow i.icon-caret-right:before {
    color: #ddd;
}
/***********faq******************/
.faq_web_view{
	display:none;
}
.faq_mob_view{
	display:block;
}
.col-md-3.col-sm-3.faq-left-block {
    float: left;
    width: 100%;
    padding: initial;
}
.col-md-9.col-sm-9.faq-rgt-block {
    float: left;
    width: 100%;
    padding: 0px;
}
.faq_tab i.fa.fa-plus {
    position: absolute;
    right: 0px;
    top: 20px;
}
a.inner_tab.collapsed .fa-plus:before {
    content: "\f067";
}
a.inner_tab .fa-plus:before {
    content: "\f068";
}
/**************************/
.desktop_view_sidebar{
	display:none;
	}
.mobile_view_sidebar{
	display:block;
}
.side-nav-head {
    margin-bottom: 30px;
    background-color: rgba(0,0,0,0.1);
	padding: 8px 0;
	position: relative;
}
.side-nav-head button {
    display: block;
    position: absolute;
    right: 5px;
    font-size: 24px;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 5px;
    top: 0px;
	outline: none;font-family: FontAwesome !important;
}
.side-nav-head>h4 {
    padding-left: 15px;
    margin: 0;
	font-size: 16px;
}
/************/
.chnge_pass {
    width: 100% !important;
}
.row .form-group label.col-xs-12.col-sm-3.control-label {
    padding: 7px 15px;
    text-align: left;
}
/**************************/
tr.page_odr_list_hdr {
    display: none;
}
tr.page_odr_list_td td {
    float: left;
    width: 100%;
    text-align: right;
    padding: 10px 10px 10px;
    border-bottom: 1px solid #ddd;
}
/*tr.page_odr_list_td td a{
    float: left;
    width: 100%;
    margin: 10px 0px;
}*/
.sidebar {
    padding: 0px;
}
/*****************************/
.col-md-12.col-sm-12.pull-left.wishhead {
    display: none;
}
.product_detls div {
    float: left;
    width: 100%;
    padding: 5px 0px;
}
.product_detls a.plussg {
	position: absolute;
    left: 50px;
	}
.product_detls a.remover {
    position: absolute;
    left: 80px;
	}

/****************************/
.mob_title:before {
    content: attr(data-title) ": ";
    font-weight: 700;
}
/****************************/
tr.cre_tb_head {
    display: none;
}
.cre_tb_desc td{
	float:left !important;
	width:100%;
	text-align: right;
}

/*****************************/
.noborder td {
    width: 100%;
    float: left;
    padding: 5px 0px 0px;
}
.content-page {
    padding: 20px 0px;
    text-align: justify;
}
#page_itemprodct .product-item {

    width: 96%;
}
.prd_btn_box a {
    width: 100% !important;
	margin-bottom:5px;
}
.owl-item .add2cart, span.dpspan {
    margin-right: 0%;
}
.slider_itm .owl-item {
/*    width: auto !important;*/
}
#page_itemprodct .product-item h3 {
    font-size: 20px;
}
/***************/
.product-main-image img {
    width: 100%;
    height: auto;
}
.product-item .pi-img-wrapper a img {
    height: auto !important;
}
/**********/
.sign_up_frm .col-xs-12.col-sm-12.nomargin{
	 padding: 0px;
}
.sign_up_frm .col-xs-12.col-sm-12.margin-bottom-0 {
    padding: 0px;
}
.mob_padding {
    padding: 0px;
}
/******************************/
.product-page.sign_in_frm {
    padding: 0px;
}
.signin_btm_box .size-16.margin-bottom-10.text-left.s_in_ttl_box{
    float: left;
    width: 100%;
    margin-top: 30px;
}
.signin_btm_box .login_windows h2.size-16.margin-bottom-0 {
    width: auto;
    font-size: 18px;
    margin-right: 0px !important;
}
a.s_in_link {
    float: left;
    width: auto;
    font-size: 18px;
}
.signin_btm_box .login_windows p {
    float: left;
    width: 100%;
}
.signin_btm_box ul.margin-bottom-0 {
    float: left;
    width: 100%;
    margin: 20px 0px;
}
.signin_btm_box h2.size-16.margin-bottom-10.text-left {
    float: left;
    width: 100%;
}
.signin_btm_box .divider.margin-top-20.margin-bottom-20 {
    float: left;
    width: 100%;
}
/******************************/
.memb_accnt .col-xs-12.col-sm-12 {
    padding: 0px;
}
.memb_accnt .col-xs-12.col-sm-9 {
    padding: 0px;
}
.memb_accnt label.col-xs-12.col-sm-3.control-label {
    padding: 7px 0px !important;
}
.memb_accnt button.col-xs-12.col-sm-12.btn.btn-black {
    padding: 7px 14px;
}
.memb_accnt label.col-xs-12.col-sm-3.control-label {
    float: left;
    width: 100%;
    text-align: left !important;
}
/****************************************/
.odr_list_btn {
    float: right;
    width: 40%;
}
.odr_list_btn a {
    margin: 0px 0px 10px !important;
}
.odr_list_btn a {
    width: 100%;
}
.mob_title2:before {
    content: attr(data-title) ": ";
    font-weight: 700;
    float: left;
    width: auto;
    text-align: left;
}
/**************************************/
li.sub_d_down.dpmenutop {
    display: none;
}
/********************************/
.mob_padding li.pull-right {
    display: none;
}
/***********************************/
.kefu_list_table thead {
    display: none;
}
.kefu_list_table tr td {
    float: left;
    width: 100%;
    text-align: right;
	border-bottom: 1px solid #ddd;
}
/****************************/
.product-page.prd_paswrd {
    padding: 15px;
}
/**************************/
label.sphov {
    width: auto;
    margin-top: 1px;
}
table.pull-left.col-md-12.padding0.lastcoltab thead {
    display: none;
}
table.pull-left.col-md-12.padding0.lastcoltab tr td {
    float: left;
    width: 100%;
    text-align: right;
}
table.pull-left.col-md-12.padding0.lastcoltab tr td input{
    width: auto;
    text-align: right;
    margin-left: 31%;

}
.page_orlast_box .last_tb_button {
    width: 30%;
}
/*************/
.ldtabbox1 thead {
    display: none;
}

.ldtabbox1 td {
    float: left;
    width: 100%;
    text-align: right;
}
/*************************/
div#tagsel_btn2 {
    width: 100%;
    float: right;
    margin-top: 10px;
}
.tagsel_drop2 {
    position: relative;
}
ul.tag_ul2 {
    width: 100% !important;
    top: 60px;
}
/******/
.county_title span.prices {
    font-size: 16px;
}
h3.prd_title {
        padding: 0px;
    font-size: 16px !important;
    height: auto !important;
    min-height: 40px;
}
.pi-textsp {
    float: left;
    width: 100%;
}
div#cart_botton_r_drop_down2 {
    width: 100%;
}
/*****/
.mob_btn_box {
    float: left;
    width: 100%;
	margin-top: 10px;
}
.mob_cart1 {
    margin: 0 auto;
    float: none;
	margin-bottom: 10px;
}
.mob_cart2 {
    margin: 0 auto;
    float: none;
	margin-bottom: 10px;
}
.margin_bottom2 strong {
    font-size: 15px;
	margin-bottom: 5px;
    float: left;
}
.web_view_tab1 {
    width: 40%;
}
.web_view_txt {
    padding-left: unset;
    width: auto;
}
/******************/
.itm_drp_dwn {
    width: auto;
    padding-left: 0px;
	float: right;
}
.chkbtext {
    float: left;
    width: 75%;
}
.chkbtext span.btn.btn-warning.btn-xs {
    float: left;
    width: auto;
}
.chkmdtxt {
    float: left;
    width: 80%;
    min-height: 40px;
}
.row.item_lft_row {
    padding-bottom: 2px;
}
.product-page-content .tab-content {
    padding: 0px;
}
}

@media (max-width:479px){
	#page_itemprodct .product-item {
		width: 100%;
		margin-right: 0px;
	}
}

@media (max-width:375px){
.slider_itm .owl-item {
    /*width: 355px !important;*/
}
table.pull-left.col-md-12.padding0.lastcoltab tr td input{
    margin-left: 23%;

}
}


@media (max-width:360px){

.slider_itm .owl-item {
    /*width: 302px !important;*/
}

}


@media screen\0 {


}
.fa.fa-minus-square.collapsed:before {
    content: "\f0fe";
}
.sm-chk {
    display: none;
}
@media (max-width: 768px){
  #shop_catepg .product-item .pi-img-wrapper a{position: relative; padding-top: 100%;}
  #shop_catepg .product-item .pi-img-wrapper a img{position: absolute; top: 0; left: 0; width: 100% !important;}
  .prd_btn_box {height: auto;}
  .info-box p, .info-box pre {white-space: pre-wrap; word-break: break-word;}
  .info-box img {max-width: 100%; height: auto !important;}
  .sm-chk {
    display: block;
}
}
.product-item .pi-img-wrapper a.img_wrp{display: block; height: 100%;}
.info-box {
    padding: 5px 0;
}
.tab-content>.active .info-box>*,.tab-content>.active .info-box>* table {
    width: 100% !IMPORTANT;
}
