a {
	color: #86cbc2;
}
a:hover {
	color: #86cbc2;
}
.pre-header a:hover {
	color: #86cbc2;
}
.shop-currencies a.current {
	color: #86cbc2;
}
.header-navigation ul > li.active > a,
.header-navigation ul > li > a:hover,
.header-navigation ul > li > a:focus,
.header-navigation ul > li.open > a,
.header-navigation ul > li.open > a:hover,
.header-navigation ul > li.open > a:focus {
	color: #86cbc2;
}
.header-navigation li.menu-search i:hover {
	color: #86cbc2;
}
.sidebar a:hover {
	color: #86cbc2;
}
.sidebar .dropdown.open .dropdown-toggle:hover {
	color: #86cbc2;
}
.sidebar-menu .dropdown-menu li > a:hover, .sidebar-menu .dropdown-menu li > a:focus, .sidebar-menu li.active > a, .sidebar-menu li.active > a:hover {
	color: #86cbc2;
}
.content-page a:hover, 
.sidebar2 a:hover {
	color: #86cbc2;
}
.content-page .link, .content-page .link:hover, .content-page .link:active {
	color: #86cbc2;
}
.page-404 .number,
.page-500 .number {
	color: #86cbc2;
}
.content-form-page a:hover {
	color: #86cbc2;
}
.quote-v1 a.btn-transparent:hover {
  background: #86cbc2;
}
.recent-work h2 a:hover {
	color: #86cbc2;
}
.recent-work .recent-work-item .fa:hover {
	color: #86cbc2;
}
.our-clients h2 a:hover {
	color: #86cbc2;
}
.front-team h3 strong {
  color: #86cbc2;
}
.ecommerce .header-navigation ul > li.active > a,
.ecommerce .header-navigation ul > li > a:hover,
.ecommerce .header-navigation ul > li > a:focus,
.ecommerce .header-navigation ul > li.open > a,
.ecommerce .header-navigation ul > li.open > a:hover,
.ecommerce .header-navigation ul > li.open > a:focus {
	color: #86cbc2;
}
.product-item h3 a:hover {
	color: #86cbc2;
}
.checkout-page a:hover {
	color: #86cbc2;
}


.langs-block-others:after { 
	border-bottom: 8px solid #86cbc2;
}
.header-navigation > ul > li.dropdown:hover > a:after { 
  border-bottom: 8px solid #86cbc2;
}
.header-navigation .dropdown-menu > li > a:hover,
.header-navigation .dropdown-menu > li.active > a,
.header-navigation .header-navigation-content .header-navigation-col li > a:hover,
.header-navigation .header-navigation-content .header-navigation-col li.active > a {
  background: #86cbc2;
  color: #fff;
}
.header-navigation .dropdown-menu .header-navigation-content-ext li > a:hover,
.header-navigation .dropdown-menu .header-navigation-content-ext li.active > a {
  background: #fff;
  color: #86cbc2;
}
.header-navigation .search-box:after { 
	border-bottom: 8px solid #86cbc2;
}
.header-navigation .search-box {
	border-top: solid 2px #86cbc2;
}
.title-wrapper h1 span {
	color: #86cbc2;
}
.breadcrumb > .active {
	color: #86cbc2;
}
.form-info h2 em {
	color: #86cbc2;
}
.nav-tabs {
	border-color: #86cbc2;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background: #86cbc2;
}
.content-search h1 em {
	color: #86cbc2;
}
.recent-work .recent-work-item:hover a.recent-work-description {
	background: #86cbc2;
}
.testimonials-v1 blockquote:after { 
  background-color: #86cbc2;
}
.testimonials-v1 span.testimonials-name {
	color: #86cbc2;
}
.search-result-item h4 a {
	color: #86cbc2;
}
.top-cart-content:after { 
	border-bottom: 8px solid #86cbc2;
}
.goods-data a,
.checkout-page .checkout-description a {
	color: #86cbc2;
}
.product-page .review a {
	color: #86cbc2;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #86cbc2;
    color: #fff;
}
.list-view-sorting a {
	background: #fff;
	color: #86cbc2;
}

::-moz-selection {
  color: #595757;
  background: #86cbc2;
}
::selection {
  color: #595757;
  background: #86cbc2;
}
.steps-block ::-moz-selection {
  color: #e45000;
  background: #fff;
}
.steps-block ::selection {
  color: #e45000;
  background: #fff;
}

.owl-buttons .owl-prev:hover {
    background-color: #86cbc2;
}
.owl-buttons .owl-next:hover {
    background-color: #86cbc2;
}
.steps-block-red {
	background: #86cbc2;
}
.pre-footer .photo-stream img:hover {
	border-color: #86cbc2;
}
.pre-footer a:hover {
	color: #595757;
}
.pre-footer-light dl.f-twitter dd a {
	color: #86cbc2;
}
.pre-footer-light address a {
	color: #86cbc2;
}
.testimonials-v1 .left-btn:hover {
    background-color: #86cbc2;
}
.testimonials-v1 .right-btn:hover {
    background-color: #86cbc2;
}
.blog-tags li i,
.blog-info li i {
  color: #cebea2;
}
.blog-posts .more,
.blog-sidebar .more {
	color: #cebea2;
}
.recent-news h3 a {
	color: #86cbc2;
}
.blog-photo-stream li img:hover {
  border-color: #86cbc2;
}
.blog-tags li a:hover {
  color: #fff;
  background: #424242;
}
.blog-tags li a:hover:after {
  border-left-color: #424242;
}
.sidebar-categories li > a:hover,
.sidebar-categories li.active > a,
.sidebar-categories li.active:hover > a {
  color: #86cbc2;
}
.blog-item blockquote {
  border-color: #86cbc2;
}
.blog-item h4.media-heading span a {
    color: #86cbc2;
}
.front-steps-wrapper .front-step1 {
	background: #86cbc2;
}
.pricing-active {
  border: 3px solid #86cbc2;
  box-shadow: 7px 7px rgba(232, 77, 22, 0.2);
}
.pricing:hover {
  border: 3px solid #86cbc2;
}
.pricing:hover h4 {
  color: #86cbc2;
}
.pricing-head h3 {
  background: #86cbc2;
}
.pricing-head-active h4 {
  color: #86cbc2;
}
.pricing-content li i {
  color: #86cbc2;
}
.top-cart-block .fa-shopping-cart {
	background: #86cbc2;
}
.top-cart-block .fa-cloud {
	background: #86cbc2;
}
.product-item .btn:hover {
	background: #86cbc2;
}
.pi-price {
	color: #86cbc2;
}
.product-item .add2cart:hover {
	color: #fff !important;
	background: #86cbc2 !important;
	border-color: #86cbc2;
}
.goods-page-price strong, 
.goods-page-total strong,
.checkout-price strong,
.checkout-total strong {
	color: #86cbc2;
}
.shopping-total strong,
.checkout-total-block strong {
	color: #86cbc2;
}
.compare-item strong {
	color: #86cbc2;
}
.sidebar-products .price {
    color: #86cbc2;
}
.price-availability-block .price strong {
	color: #86cbc2;
}


.require {
	color: #86cbc2;
}
.content-form-page .form-control:focus {
	border: solid 1px #86cbc2;
}
.content-search input:focus {
	border: solid 1px #86cbc2;
}

.btn-primary {
	background: #86cbc2;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background: #86cbc2;
	color:#595757;
}

.header-navigation .dropdown-menu > li:first-child {
    border-top: 2px solid #86cbc2;
}
.front-steps-wrapper .front-step1:after {
    border-left: 15px solid #EC7049;
}

.del-goods:hover,
.add-goods:hover {
	background-color: #86cbc2;
}

.sidebar a:hover > .fa-angle-down {
	background-position: -11px 0;
}
.sidebar .collapsed:hover > .fa-angle-down {
	background-position: -11px -37px;
}
.top-cart-content {
	border-top: solid 2px #86cbc2;
}

.front-skills .progress-bar {
  background: #EF4D2E;
}

.service-box-v1:hover {
  background: #d73d04;
}

.header .mobi-toggler:hover {
  /*background-color: #e34f00;
  border-color: #e34f00;*/
}

@media (max-width: 1024px) {
	.header .header-navigation li > a:hover,
	.header .header-navigation li.active > a,
	.header .header-navigation li.open > a:hover {
		color: #dd4632 !important;
	}
}

.faq-tabbable {
  border-left: solid 2px #e44f00;
}
.faq-tabbable li:hover a,
.faq-tabbable li.active a{
  background: #e44f00;
}
.faq-tabbable li.active:after {
  border-left: 6px solid #e44f00;
}

.mix-filter li:hover, .mix-filter li.active {
    background: #e44f00;
    color: #fff;
}
.mix-grid .mix .mix-details {
	background: #e44f00;
}
.mix-grid .mix a.mix-link, 
.mix-grid .mix a.mix-preview {
  background: #DB3A1B;
}
.langs-block-others {
	border-top: solid 2px #86cbc2;
}
.brands .owl-buttons .owl-prev:hover {
    background-position: 18px -217px;
}
.brands .owl-buttons .owl-next:hover {
    background-position: -249px -217px;
}
.header-navigation ul > li.active > a/*,
.ecommerce .header-navigation ul > li.active > a*/ {
	border-bottom: 2px solid #e64f00;
}
.col-md-3.col-sm-3.blog-sidebar > img {
  width: 100%;

}
.mucart .top-cart-content:hover {
  display: block;
}
.mucart.top-cart-content:hover
{
display:block;
}
.mucart .top-cart-content-wrapper:hover
{
display:block!important;
}
li.mucart:hover ul.sub_menu {
  display: block;
}
ul.sub_menu1
{
border: medium none !important;
}
.mucart.top-cart-content-wrapper:hover
{
display:block;}

@media screen and (max-width: 1920px) and (min-width: 900px) {
.col-md-3.col-sm-3.blog-sidebar > img {
  width: 100%;
  max-height: 165px !important;   
}
.sub-menu-left li {
    float: left;
    width: 100%;
    line-height: 70px;
}
.header .header-navigation {
  display: none !important;
}
}
@media screen and (max-width: 600px) and (min-width: 300px) {
.myclass .sub-menu-left li {
  width: 79%!important;
  line-height: 30px!important;
}
.sub_menu.myclass {
  position: fixed!important;
}
.myclass.sub-menu-left li {
  float: left;
  line-height: 38px!important;
  width: 100%!important;
}
.sub-img-right {
  display: none;
}
.myclass.sub_menu li:first-child {
  /*padding-left: 0px !important;*/
}
.langs-block {
  margin-left: 13px;
}
.myclass .sub-menu-left > li {
  margin-left: 24px;
}
.header .header-navigation {
  margin-top: 15px;
}
}